In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))
PATH = "../input"

# Any results you write to the current directory are saved as output.

['POS_CASH_balance.csv', 'bureau_balance.csv', 'application_train.csv', 'previous_application.csv', 'installments_payments.csv', 'credit_card_balance.csv', 'sample_submission.csv', 'application_test.csv', 'bureau.csv']

In [2]:
data = pd.read_csv(PATH+"/application_train.csv")
test = pd.read_csv(PATH+"/application_test.csv")
bureau = pd.read_csv(PATH+"/bureau.csv", nrows=50000)
bureau_balance = pd.read_csv(PATH+"/bureau_balance.csv", nrows=50000)
credit_card_balance = pd.read_csv(PATH+"/credit_card_balance.csv", nrows=50000)
installments_payments = pd.read_csv(PATH+"/installments_payments.csv", nrows=50000)
previous_application = pd.read_csv(PATH+"/previous_application.csv", nrows=50000)
POS_CASH_balance = pd.read_csv(PATH+"/POS_CASH_balance.csv", nrows=50000)

In [3]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
data.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [8]:
bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [9]:
credit_card_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,...,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,...,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0

In [10]:
installments_payments.head()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585

In [11]:
previous_application.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
POS_CASH_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

In [13]:
data.columns.values

array(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN',
       'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE',
       'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE',
       'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE',
       'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE',
       'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START',
       'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION',
       'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION',
       'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY',
       'LIVE_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE', 'EXT_SOURCE_1',
       'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG',
       'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG',
       'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG',
       'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG',
       'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG',
       'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE',
       'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE',
       'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE',
       'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE',
       'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE',
       'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE',
       'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI',
       'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI',
       'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI',
       'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI',
       'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI',
       'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI',
       'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'TOTALAREA_MODE',
       'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE',
       'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE',
       'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3',
       'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6',
       'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9',
       'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12',
       'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15',
       'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18',
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype=object)

In [14]:
## Feature Engineering training set
data['DAYS_EMPLOYED']

0           -637
1          -1188
2           -225
3          -3039
4          -3038
5          -1588
6          -3130
7           -449
8         365243
9          -2019
10          -679
11        365243
12         -2717
13         -3028
14          -203
15         -1157
16         -1317
17          -191
18         -7804
19         -2038
20         -4286
21         -1652
22         -4306
23        365243
24          -746
25         -3494
26         -2628
27         -1234
28         -1796
29         -1010
           ...
307481     -3147
307482      -226
307483    365243
307484      -328
307485      -670
307486     -1185
307487    365243
307488     -1218
307489      -286
307490     -1928
307491     -1953
307492     -1618
307493     -2306
307494     -6573
307495     -7438
307496     -2178
307497     -1222
307498     -3689
307499     -8694
307500     -5326
307501     -1046
307502     -8736
307503      -399
307504     -7258
307505    365243
307506      -236
307507    365243
307508     -7921
307509     -4786
307510     -1262
Name: DAYS_EMPLOYED, Length: 307511, dtype: int64

In [15]:
data['DAYS_EMPLOYED'].replace(365243, np.nan, inplace= True)

In [16]:
data['DAYS_EMPLOYED']

0         -637.0
1        -1188.0
2         -225.0
3        -3039.0
4        -3038.0
5        -1588.0
6        -3130.0
7         -449.0
8            NaN
9        -2019.0
10        -679.0
11           NaN
12       -2717.0
13       -3028.0
14        -203.0
15       -1157.0
16       -1317.0
17        -191.0
18       -7804.0
19       -2038.0
20       -4286.0
21       -1652.0
22       -4306.0
23           NaN
24        -746.0
25       -3494.0
26       -2628.0
27       -1234.0
28       -1796.0
29       -1010.0
           ...
307481   -3147.0
307482    -226.0
307483       NaN
307484    -328.0
307485    -670.0
307486   -1185.0
307487       NaN
307488   -1218.0
307489    -286.0
307490   -1928.0
307491   -1953.0
307492   -1618.0
307493   -2306.0
307494   -6573.0
307495   -7438.0
307496   -2178.0
307497   -1222.0
307498   -3689.0
307499   -8694.0
307500   -5326.0
307501   -1046.0
307502   -8736.0
307503    -399.0
307504   -7258.0
307505       NaN
307506    -236.0
307507       NaN
307508   -7921.0
307509   -4786.0
307510   -1262.0
Name: DAYS_EMPLOYED, Length: 307511, dtype: float64

In [17]:
data['CODE_GENDER'].loc[data['CODE_GENDER']=='XNA']

35657     XNA
38566     XNA
83382     XNA
189640    XNA
Name: CODE_GENDER, dtype: object

In [18]:
data['CODE_GENDER'].replace({'XNA': 'F'}, inplace=True)

In [19]:
data['CODE_GENDER'].loc[data['CODE_GENDER']=='F']

1         F
3         F
6         F
8         F
10        F
11        F
12        F
14        F
17        F
18        F
19        F
21        F
22        F
23        F
25        F
26        F
30        F
31        F
32        F
34        F
35        F
36        F
38        F
41        F
42        F
43        F
45        F
46        F
47        F
48        F
         ..
307471    F
307472    F
307473    F
307475    F
307476    F
307477    F
307478    F
307479    F
307480    F
307482    F
307483    F
307484    F
307485    F
307486    F
307488    F
307489    F
307493    F
307496    F
307497    F
307499    F
307500    F
307501    F
307502    F
307503    F
307504    F
307505    F
307507    F
307508    F
307509    F
307510    F
Name: CODE_GENDER, Length: 202452, dtype: object

In [20]:
data['DAYS_EMPLOYED'].replace(365243, np.nan, inplace= True)

In [21]:
data['AMT_CREDIT']

0          406597.5
1         1293502.5
2          135000.0
3          312682.5
4          513000.0
5          490495.5
6         1560726.0
7         1530000.0
8         1019610.0
9          405000.0
10         652500.0
11         148365.0
12          80865.0
13         918468.0
14         773680.5
15         299772.0
16         509602.5
17         270000.0
18         157500.0
19         544491.0
20         427500.0
21        1132573.5
22         497520.0
23         239850.0
24         247500.0
25         225000.0
26         979992.0
27         327024.0
28         790830.0
29         180000.0
            ...
307481     297000.0
307482     500566.5
307483     247275.0
307484     545040.0
307485     180000.0
307486     355536.0
307487    1071909.0
307488     135000.0
307489     521280.0
307490     135000.0
307491    1078200.0
307492    1575000.0
307493     946764.0
307494     479700.0
307495     808650.0
307496     337500.0
307497     270126.0
307498    1312110.0
307499     225000.0
307500    1303812.0
307501     269550.0
307502     225000.0
307503     345510.0
307504     331920.0
307505     225000.0
307506     254700.0
307507     269550.0
307508     677664.0
307509     370107.0
307510     675000.0
Name: AMT_CREDIT, Length: 307511, dtype: float64

In [22]:
data['YEARS_BUILD_AVG']

0         0.6192
1         0.7960
2            NaN
3            NaN
4            NaN
5            NaN
6            NaN
7            NaN
8            NaN
9            NaN
10           NaN
11           NaN
12           NaN
13        0.7348
14        0.9796
15           NaN
16           NaN
17           NaN
18        0.8368
19           NaN
20        0.7008
21           NaN
22        0.7076
23        0.8300
24        0.8096
25        0.7008
26           NaN
27           NaN
28           NaN
29        0.7688
           ...
307481       NaN
307482    0.6396
307483    0.6532
307484       NaN
307485       NaN
307486       NaN
307487       NaN
307488       NaN
307489    0.5580
307490       NaN
307491       NaN
307492       NaN
307493       NaN
307494       NaN
307495       NaN
307496       NaN
307497       NaN
307498    0.8504
307499       NaN
307500       NaN
307501       NaN
307502       NaN
307503       NaN
307504       NaN
307505    0.8096
307506    0.8300
307507    0.6260
307508    0.7484
307509       NaN
307510       NaN
Name: YEARS_BUILD_AVG, Length: 307511, dtype: float64

In [23]:
data['YEARS_BUILD_CREDIT'] = data['AMT_CREDIT']/data['YEARS_BUILD_AVG']

In [24]:
data['YEARS_BUILD_CREDIT']

0         6.566497e+05
1         1.625003e+06
2                  NaN
3                  NaN
4                  NaN
5                  NaN
6                  NaN
7                  NaN
8                  NaN
9                  NaN
10                 NaN
11                 NaN
12                 NaN
13        1.249956e+06
14        7.897923e+05
15                 NaN
16                 NaN
17                 NaN
18        1.882170e+05
19                 NaN
20        6.100171e+05
21                 NaN
22        7.031091e+05
23        2.889759e+05
24        3.057065e+05
25        3.210616e+05
26                 NaN
27                 NaN
28                 NaN
29        2.341311e+05
              ...
307481             NaN
307482    7.826243e+05
307483    3.785594e+05
307484             NaN
307485             NaN
307486             NaN
307487             NaN
307488             NaN
307489    9.341935e+05
307490             NaN
307491             NaN
307492             NaN
307493             NaN
307494             NaN
307495             NaN
307496             NaN
307497             NaN
307498    1.542933e+06
307499             NaN
307500             NaN
307501             NaN
307502             NaN
307503             NaN
307504             NaN
307505    2.779150e+05
307506    3.068675e+05
307507    4.305911e+05
307508    9.054837e+05
307509             NaN
307510             NaN
Name: YEARS_BUILD_CREDIT, Length: 307511, dtype: float64

In [25]:
data['Annuity_Income'] = data['AMT_ANNUITY']/data['AMT_INCOME_TOTAL']

In [26]:
data['Income_Cred'] = data['AMT_CREDIT']/data['AMT_INCOME_TOTAL']

In [27]:
data['EMP_AGE'] = data['DAYS_EMPLOYED']/data['DAYS_BIRTH']

In [28]:
data['EMP_AGE']

0         0.067329
1         0.070862
2         0.011814
3         0.159905
4         0.152418
5         0.093737
6         0.227174
7         0.023820
8              NaN
9         0.139540
10        0.066588
11             NaN
12        0.202173
13        0.214965
14        0.013920
15        0.132562
16        0.101848
17        0.019538
18        0.440456
19        0.179591
20        0.234824
21        0.111509
22        0.386327
23             NaN
24        0.066100
25        0.180718
26        0.140355
27        0.077376
28        0.179708
29        0.097669
            ...
307481    0.152441
307482    0.016022
307483         NaN
307484    0.025531
307485    0.055959
307486    0.074016
307487         NaN
307488    0.120690
307489    0.017364
307490    0.195260
307491    0.177934
307492    0.077176
307493    0.131523
307494    0.439430
307495    0.355511
307496    0.125569
307497    0.073266
307498    0.193121
307499    0.511773
307500    0.261206
307501    0.080704
307502    0.543859
307503    0.033614
307504    0.434481
307505         NaN
307506    0.025303
307507         NaN
307508    0.529266
307509    0.400134
307510    0.074869
Name: EMP_AGE, Length: 307511, dtype: float64

In [29]:
data['Income_PP'] = data['AMT_INCOME_TOTAL']/data['CNT_FAM_MEMBERS']

In [30]:
data['CHILDREN_RATIO'] = (1 + data['CNT_CHILDREN']) / data['CNT_FAM_MEMBERS']

In [31]:
data['CHILDREN_RATIO']

0         1.000000
1         0.500000
2         1.000000
3         0.500000
4         1.000000
5         0.500000
6         0.666667
7         0.500000
8         0.500000
9         1.000000
10        0.666667
11        0.500000
12        0.500000
13        0.666667
14        0.500000
15        1.000000
16        0.500000
17        0.666667
18        1.000000
19        1.000000
20        0.500000
21        0.666667
22        0.666667
23        0.500000
24        0.750000
25        0.500000
26        1.000000
27        0.666667
28        1.000000
29        1.000000
            ...
307481    0.500000
307482    0.500000
307483    1.000000
307484    0.500000
307485    1.000000
307486    0.666667
307487    0.500000
307488    1.000000
307489    0.500000
307490    1.000000
307491    0.750000
307492    0.500000
307493    0.500000
307494    0.666667
307495    0.500000
307496    0.500000
307497    0.500000
307498    0.500000
307499    0.500000
307500    0.500000
307501    0.800000
307502    0.666667
307503    1.000000
307504    1.000000
307505    1.000000
307506    1.000000
307507    1.000000
307508    1.000000
307509    0.500000
307510    0.500000
Name: CHILDREN_RATIO, Length: 307511, dtype: float64

In [32]:
data['PAYMENTS'] = data['AMT_ANNUITY']/ data['AMT_CREDIT']

In [33]:
data['NEW_CREDIT_TO_GOODS_RATIO'] = data['AMT_CREDIT'] / data['AMT_GOODS_PRICE']
data['GOODS_INCOME'] =  data['AMT_GOODS_PRICE']/data['AMT_INCOME_TOTAL']

In [34]:
data['Ext_source_mult'] = data['EXT_SOURCE_1'] * data['EXT_SOURCE_2'] * data['EXT_SOURCE_3']
data['Ext_SOURCE_MEAN'] = data[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].mean(axis = 1)
data['Ext_SOURCE_SD'] = data[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].std(axis = 1)

In [35]:
columns = ['Annuity_Income', 'Income_Cred', 'EMP_AGE', 'Income_PP']
#df[columns].describe()

In [36]:
data[columns].describe()

       Annuity_Income    Income_Cred        EMP_AGE     Income_PP
count   307499.000000  307511.000000  252137.000000  3.075090e+05
mean         0.180930       3.957570       0.156861  9.310588e+04
std          0.094574       2.689728       0.133549  1.013734e+05
min          0.000224       0.004808      -0.000000  2.812500e+03
25%          0.114782       2.018667       0.056099  4.725000e+04
50%          0.162833       3.265067       0.118733  7.500000e+04
75%          0.229067       5.159880       0.219170  1.125000e+05
max          1.875965      84.736842       0.728811  3.900000e+07

In [37]:
## Feature engineering test set
test['CODE_GENDER'].replace({'XNA': 'F'}, inplace=True)
test['YEARS_BUILD_CREDIT'] = test['AMT_CREDIT']/test['YEARS_BUILD_AVG']
test['DAYS_EMPLOYED'].replace(365243, np.nan, inplace= True)
test['Annuity_Income'] = test['AMT_ANNUITY']/test['AMT_INCOME_TOTAL']
test['Income_Cred'] = test['AMT_CREDIT']/test['AMT_INCOME_TOTAL']
test['EMP_AGE'] = test['DAYS_EMPLOYED']/test['DAYS_BIRTH']
test['Income_PP'] = test['AMT_INCOME_TOTAL']/test['CNT_FAM_MEMBERS']
test['CHILDREN_RATIO'] = (1 + test['CNT_CHILDREN']) / test['CNT_FAM_MEMBERS']
#test['Annuity_Credit'] =test['AMT_CREDIT']/ test['AMT_ANNUITY']
test['PAYMENTS'] = test['AMT_ANNUITY']/ test['AMT_CREDIT']
test['NEW_CREDIT_TO_GOODS_RATIO'] = test['AMT_CREDIT'] / test['AMT_GOODS_PRICE']
test['GOODS_INCOME'] =  test['AMT_GOODS_PRICE']/test['AMT_INCOME_TOTAL']
# test['SOURCE_1_PERCENT'] = test['EXT_SOURCE_1']/(test['EXT_SOURCE_1']+test['EXT_SOURCE_2']+test['EXT_SOURCE_3'])
# test['SOURCE_2_PERCENT'] = test['EXT_SOURCE_2']/(test['EXT_SOURCE_1']+test['EXT_SOURCE_2']+test['EXT_SOURCE_3'])
# test['SOURCE_3_PERCENT'] = test['EXT_SOURCE_3']/(test['EXT_SOURCE_1']+test['EXT_SOURCE_2']+test['EXT_SOURCE_3'])
test['Ext_source_mult'] = test['EXT_SOURCE_1'] * test['EXT_SOURCE_2'] * test['EXT_SOURCE_3']
test['Ext_SOURCE_MEAN'] = test[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].mean(axis = 1)
test['Ext_SOURCE_SD'] = test[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].std(axis = 1)

In [38]:
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [39]:
bureau_new = bureau

In [40]:
group = bureau_new[['SK_ID_CURR', 'DAYS_CREDIT']].groupby('SK_ID_CURR')['DAYS_CREDIT'].count().reset_index().rename(index=str, columns={'DAYS_CREDIT': 'BUREAU_LOAN_COUNT'})

In [41]:
group

       SK_ID_CURR  BUREAU_LOAN_COUNT
0          100016                  6
1          100053                  7
2          100165                  2
3          100166                 13
4          100294                  5
5          100312                  2
6          100320                  5
7          100329                  1
8          100430                  1
9          100453                  3
10         100477                  2
11         100549                  4
12         100568                  7
13         100572                  2
14         100586                  5
15         100597                  1
16         100653                  7
17         100666                  3
18         100684                  2
19         100696                  2
20         100709                  3
21         100719                  1
22         100793                  2
23         100802                  1
24         100819                 18
25         100838                  7
26         100878                  4
27         100900                  6
28         100915                  1
29         100977                  2
...           ...                ...
10141      455046                  3
10142      455078                  5
10143      455084                  6
10144      455171                  7
10145      455199                  2
10146      455200                  7
10147      455317                 14
10148      455345                  4
10149      455383                 17
10150      455439                 12
10151      455476                  5
10152      455511                  1
10153      455528                  8
10154      455577                  4
10155      455702                 15
10156      455719                  4
10157      455760                  6
10158      455764                  2
10159      455867                  1
10160      455939                  6
10161      455978                  9
10162      456030                  3
10163      456047                  3
10164      456062                  1
10165      456114                  6
10166      456116                  2
10167      456179                  4
10168      456181                  3
10169      456243                  5
10170      456247                  7

[10171 rows x 2 columns]

In [42]:
bureau_new = bureau_new.merge(group, how = 'left', on = 'SK_ID_CURR')

In [43]:
bureau_new.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,BUREAU_LOAN_COUNT
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN,7
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN,7
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN,7
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN,7
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN,7

In [44]:
del group

In [45]:
group = bureau_new[['SK_ID_CURR', 'CREDIT_TYPE']].groupby('SK_ID_CURR')['CREDIT_TYPE'].nunique().reset_index().rename(index=str, columns = {'CREDIT_TYPE': 'LOAN_TYPES_PER_CUST'})

In [46]:
group.head()

   SK_ID_CURR  LOAN_TYPES_PER_CUST
0      100016                    1
1      100053                    2
2      100165                    1
3      100166                    2
4      100294                    2

In [47]:
bureau_new = bureau_new.merge(group,on = ['SK_ID_CURR'], how = 'left')

del group

In [48]:
bureau_new.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,BUREAU_LOAN_COUNT,LOAN_TYPES_PER_CUST
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN,7,2
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN,7,2
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN,7,2
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN,7,2
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN,7,2

In [49]:
bureau_new["AVERAGE_LOAN_TYPE"] = bureau_new['BUREAU_LOAN_COUNT']/bureau_new['LOAN_TYPES_PER_CUST']

In [50]:
bureau_new.tail()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,BUREAU_LOAN_COUNT,LOAN_TYPES_PER_CUST,AVERAGE_LOAN_TYPE
49995,373083,5222014,Closed,currency 1,-907,0,920.0,-430.0,NaN,0,900000.0,0.0,0.0,0.0,Consumer credit,-425,NaN,5,2,2.5
49996,373083,5222015,Closed,currency 1,-2129,0,-303.0,-332.0,NaN,0,1350000.0,0.0,0.0,0.0,Consumer credit,-292,NaN,5,2,2.5
49997,373083,5222017,Active,currency 1,-1537,0,289.0,NaN,NaN,0,675000.0,561240.0,0.0,0.0,Consumer credit,-1203,NaN,5,2,2.5
49998,373083,5222018,Closed,currency 1,-906,0,920.0,-430.0,388.125,0,900000.0,0.0,0.0,0.0,Consumer credit,-330,NaN,5,2,2.5
49999,373083,5222019,Closed,currency 1,-801,0,-71.0,-436.0,0.000,0,22500.0,0.0,0.0,0.0,Credit card,-315,NaN,5,2,2.5

In [51]:
replace = {'Active': 1, 'Closed':0, 'Sold': 1, 'Bad debt': 1}
bureau_new['CREDIT_ACTIVE'] = bureau_new['CREDIT_ACTIVE'].replace(replace)

In [52]:
bureau_new.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,BUREAU_LOAN_COUNT,LOAN_TYPES_PER_CUST,AVERAGE_LOAN_TYPE
0,215354,5714462,0,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN,7,2,3.5
1,215354,5714463,1,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN,7,2,3.5
2,215354,5714464,1,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN,7,2,3.5
3,215354,5714465,1,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN,7,2,3.5
4,215354,5714466,1,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN,7,2,3.5

In [53]:
gp = bureau_new.groupby('SK_ID_CURR')['CREDIT_ACTIVE'].mean().reset_index().rename(index=str, columns={'CREDIT_ACTIVE': 'ACTIVE_LOANS_PERCENTAGE'})

In [54]:
gp

       SK_ID_CURR  ACTIVE_LOANS_PERCENTAGE
0          100016                 0.500000
1          100053                 0.142857
2          100165                 0.000000
3          100166                 0.153846
4          100294                 0.200000
5          100312                 1.000000
6          100320                 0.400000
7          100329                 1.000000
8          100430                 1.000000
9          100453                 0.666667
10         100477                 1.000000
11         100549                 0.000000
12         100568                 0.428571
13         100572                 0.000000
14         100586                 0.200000
15         100597                 1.000000
16         100653                 0.571429
17         100666                 0.666667
18         100684                 0.500000
19         100696                 1.000000
20         100709                 0.666667
21         100719                 0.000000
22         100793                 0.500000
23         100802                 1.000000
24         100819                 0.333333
25         100838                 0.714286
26         100878                 0.250000
27         100900                 0.500000
28         100915                 1.000000
29         100977                 1.000000
...           ...                      ...
10141      455046                 0.333333
10142      455078                 0.200000
10143      455084                 0.500000
10144      455171                 0.571429
10145      455199                 0.000000
10146      455200                 0.714286
10147      455317                 0.500000
10148      455345                 0.250000
10149      455383                 0.294118
10150      455439                 0.416667
10151      455476                 0.200000
10152      455511                 0.000000
10153      455528                 0.125000
10154      455577                 0.000000
10155      455702                 0.400000
10156      455719                 0.000000
10157      455760                 0.166667
10158      455764                 1.000000
10159      455867                 0.000000
10160      455939                 0.500000
10161      455978                 0.444444
10162      456030                 0.333333
10163      456047                 0.666667
10164      456062                 0.000000
10165      456114                 0.333333
10166      456116                 0.500000
10167      456179                 0.250000
10168      456181                 0.666667
10169      456243                 0.400000
10170      456247                 0.285714

[10171 rows x 2 columns]

In [55]:
bureau_new = bureau_new.merge(gp, on = 'SK_ID_CURR', how = 'left')

In [56]:
del gp

In [57]:
def rep(x):
    if x<0:
        y=0
    else:
        y=1
    return y

In [58]:
bureau_new['DAYS_CREDIT_ENDDATE']

0         -153.0
1         1075.0
2          528.0
3            NaN
4         1197.0
5        27460.0
6           79.0
7        -1684.0
8         -811.0
9         -484.0
10        -180.0
11        -629.0
12        5261.0
13         269.0
14        -187.0
15       -2607.0
16       -1595.0
17           NaN
18        1720.0
19         -77.0
20           NaN
21        1008.0
22         625.0
23        1431.0
24       -2561.0
25          -7.0
26        1512.0
27        -994.0
28       -2352.0
29        -480.0
          ...
49970       90.0
49971      -89.0
49972      -89.0
49973      -95.0
49974     1229.0
49975    31169.0
49976     1563.0
49977    -1604.0
49978    -1072.0
49979      997.0
49980        NaN
49981      935.0
49982    27518.0
49983     1040.0
49984      -75.0
49985      793.0
49986     -828.0
49987     1038.0
49988     -829.0
49989     -352.0
49990    -1089.0
49991     -852.0
49992    -1089.0
49993        NaN
49994     1796.0
49995      920.0
49996     -303.0
49997      289.0
49998      920.0
49999      -71.0
Name: DAYS_CREDIT_ENDDATE, Length: 50000, dtype: float64

In [59]:
bureau_new['CREDIT_ENDDATE_BINARY'] = bureau_new['DAYS_CREDIT_ENDDATE'].apply(lambda x: rep(x))

In [60]:
bureau_new['CREDIT_ENDDATE_BINARY']

0        0
1        1
2        1
3        1
4        1
5        1
6        1
7        0
8        0
9        0
10       0
11       0
12       1
13       1
14       0
15       0
16       0
17       1
18       1
19       0
20       1
21       1
22       1
23       1
24       0
25       0
26       1
27       0
28       0
29       0
        ..
49970    1
49971    0
49972    0
49973    0
49974    1
49975    1
49976    1
49977    0
49978    0
49979    1
49980    1
49981    1
49982    1
49983    1
49984    0
49985    1
49986    0
49987    1
49988    0
49989    0
49990    0
49991    0
49992    0
49993    1
49994    1
49995    1
49996    0
49997    1
49998    1
49999    0
Name: CREDIT_ENDDATE_BINARY, Length: 50000, dtype: int64

In [61]:
grp = bureau_new.groupby('SK_ID_CURR')['CREDIT_ENDDATE_BINARY'].mean().reset_index().rename(index=str, columns={'CREDIT_ENDDATE_BINARY': 'CREDIT_ENDDATE_PERCENTAGE'})

In [62]:
grp

       SK_ID_CURR  CREDIT_ENDDATE_PERCENTAGE
0          100016                   0.500000
1          100053                   0.142857
2          100165                   0.000000
3          100166                   0.153846
4          100294                   0.200000
5          100312                   0.500000
6          100320                   0.200000
7          100329                   0.000000
8          100430                   1.000000
9          100453                   0.333333
10         100477                   1.000000
11         100549                   0.000000
12         100568                   0.428571
13         100572                   0.000000
14         100586                   0.200000
15         100597                   1.000000
16         100653                   0.428571
17         100666                   1.000000
18         100684                   0.500000
19         100696                   1.000000
20         100709                   0.666667
21         100719                   0.000000
22         100793                   1.000000
23         100802                   1.000000
24         100819                   0.277778
25         100838                   0.428571
26         100878                   0.250000
27         100900                   0.500000
28         100915                   1.000000
29         100977                   1.000000
...           ...                        ...
10141      455046                   0.333333
10142      455078                   0.200000
10143      455084                   0.833333
10144      455171                   0.857143
10145      455199                   0.000000
10146      455200                   0.714286
10147      455317                   0.500000
10148      455345                   0.250000
10149      455383                   0.235294
10150      455439                   0.416667
10151      455476                   0.200000
10152      455511                   1.000000
10153      455528                   0.250000
10154      455577                   0.250000
10155      455702                   0.333333
10156      455719                   0.000000
10157      455760                   0.166667
10158      455764                   0.500000
10159      455867                   0.000000
10160      455939                   0.666667
10161      455978                   0.333333
10162      456030                   0.333333
10163      456047                   0.666667
10164      456062                   0.000000
10165      456114                   0.333333
10166      456116                   0.000000
10167      456179                   0.250000
10168      456181                   1.000000
10169      456243                   0.600000
10170      456247                   0.428571

[10171 rows x 2 columns]

In [63]:
bureau_new = bureau_new.merge(grp, on = 'SK_ID_CURR', how = 'left')
del grp

In [64]:
bureau_new.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,...,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,BUREAU_LOAN_COUNT,LOAN_TYPES_PER_CUST,AVERAGE_LOAN_TYPE,ACTIVE_LOANS_PERCENTAGE,CREDIT_ENDDATE_BINARY,CREDIT_ENDDATE_PERCENTAGE
0,215354,5714462,0,currency 1,-497,0,-153.0,-153.0,NaN,0,...,0.0,Consumer credit,-131,NaN,7,2,3.5,0.857143,0,0.857143
1,215354,5714463,1,currency 1,-208,0,1075.0,NaN,NaN,0,...,0.0,Credit card,-20,NaN,7,2,3.5,0.857143,1,0.857143
2,215354,5714464,1,currency 1,-203,0,528.0,NaN,NaN,0,...,0.0,Consumer credit,-16,NaN,7,2,3.5,0.857143,1,0.857143
3,215354,5714465,1,currency 1,-203,0,NaN,NaN,NaN,0,...,0.0,Credit card,-16,NaN,7,2,3.5,0.857143,1,0.857143
4,215354,5714466,1,currency 1,-629,0,1197.0,NaN,77674.5,0,...,0.0,Consumer credit,-21,NaN,7,2,3.5,0.857143,1,0.857143

In [65]:
# get some summary stats of numeric variables
num_aggregations = {
        'DAYS_CREDIT': ['min', 'max', 'mean', 'var'],
        'DAYS_CREDIT_ENDDATE': ['min', 'max', 'mean'],
        'DAYS_CREDIT_UPDATE': ['mean'],
        'CREDIT_DAY_OVERDUE': ['max', 'mean'],
        'AMT_CREDIT_MAX_OVERDUE': ['mean'],
        'AMT_CREDIT_SUM': ['max', 'mean', 'sum'],
        'AMT_CREDIT_SUM_DEBT': ['max', 'mean', 'sum'],
        'AMT_CREDIT_SUM_OVERDUE': ['mean'],
        'AMT_CREDIT_SUM_LIMIT': ['mean', 'sum'],
        'AMT_ANNUITY': ['max', 'mean'],
        'CNT_CREDIT_PROLONG': ['sum'],

    }

In [66]:
num_aggregations

{'AMT_ANNUITY': ['max', 'mean'],
 'AMT_CREDIT_MAX_OVERDUE': ['mean'],
 'AMT_CREDIT_SUM': ['max', 'mean', 'sum'],
 'AMT_CREDIT_SUM_DEBT': ['max', 'mean', 'sum'],
 'AMT_CREDIT_SUM_LIMIT': ['mean', 'sum'],
 'AMT_CREDIT_SUM_OVERDUE': ['mean'],
 'CNT_CREDIT_PROLONG': ['sum'],
 'CREDIT_DAY_OVERDUE': ['max', 'mean'],
 'DAYS_CREDIT': ['min', 'max', 'mean', 'var'],
 'DAYS_CREDIT_ENDDATE': ['min', 'max', 'mean'],
 'DAYS_CREDIT_UPDATE': ['mean']}

In [67]:
bureau_agg = bureau_new.groupby('SK_ID_CURR').agg({**num_aggregations})

In [68]:
bureau_agg.head(10)

           DAYS_CREDIT                                  DAYS_CREDIT_ENDDATE  \
                   min   max         mean           var                 min
SK_ID_CURR
100016           -1634  -128  -677.833333  4.960914e+05             -1369.0
100053           -2893 -1764 -2287.714286  2.215852e+05             -2534.0
100165           -2325 -1225 -1775.000000  6.050000e+05             -2120.0
100166           -2058  -106  -906.538462  3.086719e+05             -1723.0
100294           -1137  -217  -774.400000  1.269358e+05              -792.0
100312           -2604  -613 -1608.500000  1.982040e+06             -1854.0
100320           -2410  -865 -1589.000000  3.475090e+05             -1400.0
100329            -430  -430  -430.000000           NaN               -65.0
100430            -115  -115  -115.000000           NaN             31084.0
100453           -2178  -811 -1668.333333  5.578263e+05             -1835.0

                                  DAYS_CREDIT_UPDATE CREDIT_DAY_OVERDUE       \
                max          mean               mean                max mean
SK_ID_CURR
100016        236.0   -394.166667        -465.833333                  0  0.0
100053       -648.0  -1519.333333       -1137.571429                  0  0.0
100165       -980.0  -1550.000000       -1558.500000                  0  0.0
100166        990.0   -611.923077        -663.000000                  0  0.0
100294       1617.0    -41.800000        -366.800000                  0  0.0
100312        117.0   -868.500000        -929.000000                  0  0.0
100320        598.0   -502.400000        -934.800000                  0  0.0
100329        -65.0    -65.000000        -132.000000                  0  0.0
100430      31084.0  31084.000000          -6.000000                  0  0.0
100453       1010.0   -392.000000        -286.333333                  0  0.0

                  ...         AMT_CREDIT_SUM AMT_CREDIT_SUM_DEBT               \
                  ...                    sum                 max         mean
SK_ID_CURR        ...
100016            ...             407484.000           63724.500   15931.1250
100053            ...             648589.500               0.000       0.0000
100165            ...             118068.480               0.000       0.0000
100166            ...             582614.595           82132.425    8185.7250
100294            ...             900955.170           90522.180   18104.4360
100312            ...            1665000.000          113854.500  113854.5000
100320            ...            4792841.190           58815.000   12223.7325
100329            ...                  0.000               0.000       0.0000
100430            ...              67500.000           62523.000   62523.0000
100453            ...            4080564.000         1790406.000  895203.0000

                        AMT_CREDIT_SUM_OVERDUE AMT_CREDIT_SUM_LIMIT  \
                    sum                   mean                 mean
SK_ID_CURR
100016        63724.500                    0.0               0.0000
100053            0.000                    0.0               0.0000
100165            0.000                    0.0               0.0000
100166       106414.425                    0.0             874.1750
100294        90522.180                    0.0            4395.5640
100312       113854.500                    0.0                  NaN
100320        48894.930                    0.0            2480.0175
100329            0.000                    0.0               0.0000
100430        62523.000                    0.0                  NaN
100453      1790406.000                    0.0               0.0000

                      AMT_ANNUITY          CNT_CREDIT_PROLONG
                  sum         max     mean                sum
SK_ID_CURR
100016          0.000         NaN      NaN                  0
100053          0.000         NaN      NaN                  0
100165          0.000         NaN      NaN                  0
100166       7867.575         NaN      NaN                  0
100294      21977.820         NaN      NaN                  0
100312          0.000     30150.0  30150.0                  0
100320       9920.070         NaN      NaN                  0
100329          0.000         NaN      NaN                  0
100430          0.000         NaN      NaN                  0
100453          0.000         NaN      NaN                  0

[10 rows x 23 columns]

In [69]:
bureau_agg.columns = pd.Index(['BURO_' + e[0] + "_" + e[1].upper() for e in bureau_agg.columns.tolist()])
bureau_agg.reset_index(inplace=True)

In [70]:
bureau_agg.head(10)

,SK_ID_CURR,BURO_DAYS_CREDIT_MIN,BURO_DAYS_CREDIT_MAX,BURO_DAYS_CREDIT_MEAN,BURO_DAYS_CREDIT_VAR,BURO_DAYS_CREDIT_ENDDATE_MIN,BURO_DAYS_CREDIT_ENDDATE_MAX,BURO_DAYS_CREDIT_ENDDATE_MEAN,BURO_DAYS_CREDIT_UPDATE_MEAN,BURO_CREDIT_DAY_OVERDUE_MAX,...,BURO_AMT_CREDIT_SUM_SUM,BURO_AMT_CREDIT_SUM_DEBT_MAX,BURO_AMT_CREDIT_SUM_DEBT_MEAN,BURO_AMT_CREDIT_SUM_DEBT_SUM,BURO_AMT_CREDIT_SUM_OVERDUE_MEAN,BURO_AMT_CREDIT_SUM_LIMIT_MEAN,BURO_AMT_CREDIT_SUM_LIMIT_SUM,BURO_AMT_ANNUITY_MAX,BURO_AMT_ANNUITY_MEAN,BURO_CNT_CREDIT_PROLONG_SUM
0,100016,-1634,-128,-677.833333,4.960914e+05,-1369.0,236.0,-394.166667,-465.833333,0,...,407484.000,63724.500,15931.1250,63724.500,0.0,0.0000,0.000,NaN,NaN,0
1,100053,-2893,-1764,-2287.714286,2.215852e+05,-2534.0,-648.0,-1519.333333,-1137.571429,0,...,648589.500,0.000,0.0000,0.000,0.0,0.0000,0.000,NaN,NaN,0
2,100165,-2325,-1225,-1775.000000,6.050000e+05,-2120.0,-980.0,-1550.000000,-1558.500000,0,...,118068.480,0.000,0.0000,0.000,0.0,0.0000,0.000,NaN,NaN,0
3,100166,-2058,-106,-906.538462,3.086719e+05,-1723.0,990.0,-611.923077,-663.000000,0,...,582614.595,82132.425,8185.7250,106414.425,0.0,874.1750,7867.575,NaN,NaN,0
4,100294,-1137,-217,-774.400000,1.269358e+05,-792.0,1617.0,-41.800000,-366.800000,0,...,900955.170,90522.180,18104.4360,90522.180,0.0,4395.5640,21977.820,NaN,NaN,0
5,100312,-2604,-613,-1608.500000,1.982040e+06,-1854.0,117.0,-868.500000,-929.000000,0,...,1665000.000,113854.500,113854.5000,113854.500,0.0,NaN,0.000,30150.0,30150.0,0
6,100320,-2410,-865,-1589.000000,3.475090e+05,-1400.0,598.0,-502.400000,-934.800000,0,...,4792841.190,58815.000,12223.7325,48894.930,0.0,2480.0175,9920.070,NaN,NaN,0
7,100329,-430,-430,-430.000000,NaN,-65.0,-65.0,-65.000000,-132.000000,0,...,0.000,0.000,0.0000,0.000,0.0,0.0000,0.000,NaN,NaN,0
8,100430,-115,-115,-115.000000,NaN,31084.0,31084.0,31084.000000,-6.000000,0,...,67500.000,62523.000,62523.0000,62523.000,0.0,NaN,0.000,NaN,NaN,0
9,100453,-2178,-811,-1668.333333,5.578263e+05,-1835.0,1010.0,-392.000000,-286.333333,0,...,4080564.000,1790406.000,895203.0000,1790406.000,0.0,0.0000,0.000,NaN,NaN,0

In [71]:
bureau_merge = bureau_new.merge(bureau_agg, on = 'SK_ID_CURR', how = 'left')
del bureau_agg

In [72]:
bureau_merge.head(10)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,...,BURO_AMT_CREDIT_SUM_SUM,BURO_AMT_CREDIT_SUM_DEBT_MAX,BURO_AMT_CREDIT_SUM_DEBT_MEAN,BURO_AMT_CREDIT_SUM_DEBT_SUM,BURO_AMT_CREDIT_SUM_OVERDUE_MEAN,BURO_AMT_CREDIT_SUM_LIMIT_MEAN,BURO_AMT_CREDIT_SUM_LIMIT_SUM,BURO_AMT_ANNUITY_MAX,BURO_AMT_ANNUITY_MEAN,BURO_CNT_CREDIT_PROLONG_SUM
0,215354,5714462,0,currency 1,-497,0,-153.0,-153.0,NaN,0,...,3792750.30,171342.0,71115.795,284463.18,0.0,54491.31,108982.62,NaN,NaN,0
1,215354,5714463,1,currency 1,-208,0,1075.0,NaN,NaN,0,...,3792750.30,171342.0,71115.795,284463.18,0.0,54491.31,108982.62,NaN,NaN,0
2,215354,5714464,1,currency 1,-203,0,528.0,NaN,NaN,0,...,3792750.30,171342.0,71115.795,284463.18,0.0,54491.31,108982.62,NaN,NaN,0
3,215354,5714465,1,currency 1,-203,0,NaN,NaN,NaN,0,...,3792750.30,171342.0,71115.795,284463.18,0.0,54491.31,108982.62,NaN,NaN,0
4,215354,5714466,1,currency 1,-629,0,1197.0,NaN,77674.5,0,...,3792750.30,171342.0,71115.795,284463.18,0.0,54491.31,108982.62,NaN,NaN,0
5,215354,5714467,1,currency 1,-273,0,27460.0,NaN,0.0,0,...,3792750.30,171342.0,71115.795,284463.18,0.0,54491.31,108982.62,NaN,NaN,0
6,215354,5714468,1,currency 1,-43,0,79.0,NaN,0.0,0,...,3792750.30,171342.0,71115.795,284463.18,0.0,54491.31,108982.62,NaN,NaN,0
7,162297,5714469,0,currency 1,-1896,0,-1684.0,-1710.0,14985.0,0,...,8230386.15,0.0,0.000,0.00,0.0,0.00,0.00,NaN,NaN,0
8,162297,5714470,0,currency 1,-1146,0,-811.0,-840.0,0.0,0,...,8230386.15,0.0,0.000,0.00,0.0,0.00,0.00,NaN,NaN,0
9,162297,5714471,1,currency 1,-1146,0,-484.0,NaN,0.0,0,...,8230386.15,0.0,0.000,0.00,0.0,0.00,0.00,NaN,NaN,0

In [73]:
buro_cat_features = [bcol for bcol in bureau_merge.columns if bureau_merge[bcol].dtype == 'object']

In [74]:
buro_cat_features

['CREDIT_CURRENCY', 'CREDIT_TYPE']

In [75]:
buro = pd.get_dummies(bureau_merge, columns=buro_cat_features)

In [76]:
buro.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,...,CREDIT_TYPE_Another type of loan,CREDIT_TYPE_Car loan,CREDIT_TYPE_Consumer credit,CREDIT_TYPE_Credit card,CREDIT_TYPE_Loan for business development,CREDIT_TYPE_Loan for working capital replenishment,CREDIT_TYPE_Microloan,CREDIT_TYPE_Mortgage,CREDIT_TYPE_Real estate loan,CREDIT_TYPE_Unknown type of loan
0,215354,5714462,0,-497,0,-153.0,-153.0,NaN,0,91323.0,...,0,0,1,0,0,0,0,0,0,0
1,215354,5714463,1,-208,0,1075.0,NaN,NaN,0,225000.0,...,0,0,0,1,0,0,0,0,0,0
2,215354,5714464,1,-203,0,528.0,NaN,NaN,0,464323.5,...,0,0,1,0,0,0,0,0,0,0
3,215354,5714465,1,-203,0,NaN,NaN,NaN,0,90000.0,...,0,0,0,1,0,0,0,0,0,0
4,215354,5714466,1,-629,0,1197.0,NaN,77674.5,0,2700000.0,...,0,0,1,0,0,0,0,0,0,0

In [77]:
cat_columns = [col for col in bureau_balance.columns if bureau_balance[col].dtype == 'object']

In [78]:
cat_columns

['STATUS']

In [79]:
bureau_balance = pd.get_dummies(bureau_balance,cat_columns, dummy_na = True)

In [80]:
bureau_balance

,SK_ID_BUREAU,MONTHS_BALANCE,STATUS_0,STATUS_1,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X,STATUS_nan
0,5715448,0,0,0,0,0,0,0,1,0,0
1,5715448,-1,0,0,0,0,0,0,1,0,0
2,5715448,-2,0,0,0,0,0,0,1,0,0
3,5715448,-3,0,0,0,0,0,0,1,0,0
4,5715448,-4,0,0,0,0,0,0,1,0,0
5,5715448,-5,0,0,0,0,0,0,1,0,0
6,5715448,-6,0,0,0,0,0,0,1,0,0
7,5715448,-7,0,0,0,0,0,0,1,0,0
8,5715448,-8,0,0,0,0,0,0,1,0,0
9,5715448,-9,1,0,0,0,0,0,0,0,0
10,5715448,-10,1,0,0,0,0,0,0,0,0
11,5715448,-11,0,0,0,0,0,0,0,1,0
12,5715448,-12,0,0,0,0,0,0,0,1,0
13,5715448,-13,0,0,0,0,0,0,0,1,0
14,5715448,-14,1,0,0,0,0,0,0,0,0
15,5715448,-15,1,0,0,0,0,0,0,0,0
16,5715448,-16,1,0,0,0,0,0,0,0,0
17,5715448,-17,1,0,0,0,0,0,0,0,0
18,5715448,-18,1,0,0,0,0,0,0,0,0
19,5715448,-19,1,0,0,0,0,0,0,0,0
20,5715448,-20,0,0,0,0,0,0,0,1,0
21,5715448,-21,0,0,0,0,0,0,0,1,0
22,5715448,-22,0,0,0,0,0,0,0,1,0
23,5715448,-23,0,0,0,0,0,0,0,1,0
24,5715448,-24,0,0,0,0,0,0,0,1,0
25,5715448,-25,0,0,0,0,0,0,0,1,0
26,5715448,-26,0,0,0,0,0,0,0,1,0
27,5715449,0,0,0,0,0,0,0,1,0,0
28,5715449,-1,0,0,0,0,0,0,1,0,0
29,5715449,-2,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
49970,6020712,-27,0,0,0,0,0,0,1,0,0
49971,6020712,-28,0,0,0,0,0,0,1,0,0
49972,6020712,-29,0,0,0,0,0,0,1,0,0
49973,6020712,-30,0,0,0,0,0,0,1,0,0
49974,6020712,-31,0,0,0,0,0,0,1,0,0
49975,6020712,-32,0,0,0,0,0,0,1,0,0
49976,6020712,-33,0,0,0,0,0,0,1,0,0
49977,6020712,-34,0,0,0,0,0,0,1,0,0
49978,6020712,-35,0,0,0,0,0,0,1,0,0
49979,6020712,-36,0,0,0,0,0,0,1,0,0
49980,6020712,-37,0,0,0,0,0,0,1,0,0
49981,6020712,-38,0,0,0,0,0,0,1,0,0
49982,6020712,-39,0,0,0,0,0,0,1,0,0
49983,6020712,-40,0,0,0,0,0,0,1,0,0
49984,6020712,-41,0,0,0,0,0,0,1,0,0
49985,6020712,-42,0,0,0,0,0,0,1,0,0
49986,6020712,-43,0,0,0,0,0,0,1,0,0
49987,6020712,-44,0,0,0,0,0,0,1,0,0
49988,6020712,-45,0,0,0,0,0,0,1,0,0
49989,6020712,-46,0,0,0,0,0,0,1,0,0
49990,6020712,-47,0,0,0,0,0,0,1,0,0
49991,6020712,-48,0,0,0,0,0,0,1,0,0
49992,6020712,-49,0,0,0,0,0,0,1,0,0
49993,6020712,-50,0,0,0,0,0,0,1,0,0
49994,6020712,-51,0,0,0,0,0,0,1,0,0
49995,6020712,-52,0,0,0,0,0,0,1,0,0
49996,6020712,-53,0,0,0,0,0,0,1,0,0
49997,6020712,-54,0,0,0,0,0,0,1,0,0
49998,6020712,-55,0,0,0,0,0,0,1,0,0
49999,6020712,-56,0,0,0,0,0,0,1,0,0

In [81]:
bb_group = bureau_balance.groupby('SK_ID_BUREAU').agg(['min', 'max', 'mean'])

In [82]:
bb_group

             MONTHS_BALANCE           STATUS_0               STATUS_1      \
                        min max  mean      min max      mean      min max
SK_ID_BUREAU
5212206                 -59   0 -29.5        0   0  0.000000        0   0
5212207                 -58   0 -29.0        0   0  0.000000        0   0
5212208                 -96   0 -48.0        0   0  0.000000        0   0
5212210                 -84   0 -42.0        0   1  0.247059        0   0
5212211                 -96   0 -48.0        0   1  0.164948        0   0
5212212                 -55   0 -27.5        0   1  0.196429        0   1
5212213                 -53   0 -26.5        0   1  0.148148        0   0
5212214                 -63   0 -31.5        0   1  0.531250        0   0
5212215                 -12   0  -6.0        1   1  1.000000        0   0
5212216                 -93   0 -46.5        0   1  0.148936        0   0
5212217                 -96   0 -48.0        0   1  0.061856        0   0
5212218                 -88   0 -44.0        0   1  0.224719        0   1
5212219                 -82   0 -41.0        0   1  0.168675        0   1
5212220                 -73   0 -36.5        0   1  0.148649        0   0
5212221                 -55   0 -27.5        0   1  0.285714        0   0
5212223                 -69   0 -34.5        0   1  0.428571        0   0
5212224                 -49   0 -24.5        0   1  0.240000        0   0
5212225                 -43   0 -21.5        0   1  0.159091        0   1
5212226                 -71   0 -35.5        0   1  0.944444        0   0
5212227                  -6   0  -3.0        0   1  0.857143        0   0
5212228                 -54   0 -27.0        0   1  0.145455        0   0
5212229                 -12   0  -6.0        0   1  0.923077        0   0
5212230                 -89   0 -44.5        0   1  0.088889        0   1
5212231                 -59   0 -29.5        0   1  0.200000        0   0
5212232                 -44   0 -22.0        0   0  0.000000        0   0
5212234                 -96   0 -48.0        0   0  0.000000        0   0
5212235                 -12   0  -6.0        0   0  0.000000        0   0
5212236                 -96   0 -48.0        0   0  0.000000        0   0
5212237                 -39   0 -19.5        0   0  0.000000        0   0
5212240                 -35   0 -17.5        0   1  0.472222        0   0
...                     ...  ..   ...      ...  ..       ...      ...  ..
6020465                 -10   0  -5.0        1   1  1.000000        0   0
6020468                 -91   0 -45.5        0   0  0.000000        0   0
6020469                 -27   0 -13.5        0   1  0.357143        0   0
6020470                 -36   0 -18.0        0   1  0.135135        0   0
6020471                 -32   0 -16.0        0   1  0.303030        0   0
6020473                 -38   0 -19.0        0   1  0.923077        0   1
6020474                 -17   0  -8.5        0   1  0.277778        0   1
6020475                 -10   0  -5.0        0   1  0.636364        0   1
6020476                 -62   0 -31.0        0   1  0.968254        0   1
6020477                 -18   0  -9.0        0   1  0.947368        0   0
6020479                 -80   0 -40.0        0   1  0.172840        0   0
6020480                 -64   0 -32.0        0   1  0.200000        0   0
6020481                 -54   0 -27.0        0   1  0.181818        0   0
6020482                 -47   0 -23.5        0   1  0.166667        0   0
6020484                 -38   0 -19.0        0   1  0.897436        0   1
6020485                  -5   0  -2.5        0   1  0.833333        0   1
6020486                 -25   0 -12.5        0   1  0.769231        0   0
6020487                 -38   0 -19.0        0   1  0.307692        0   0
6020488                 -47   0 -23.5        0   1  0.333333        0   0
6020489                 -81   0 -40.5        0   1  0.536585        0   1
6020596                 -44   0 -22.0        0   1  0.066667        0   0
6020597                 -51   0 -25.5        0   1  0.038462        0   0
6020598                 -20   0 -10.0        1   1  1.000000        0   0
6020599                 -57   0 -28.5        0   1  0.172414        0   0
6020600                 -66   0 -33.0        0   1  0.089552        0   0
6020601                 -72   0 -36.0        0   1  0.068493        0   0
6020602                 -81   0 -40.5        0   1  0.048780        0   1
6020603                 -86   0 -43.0        0   1  0.057471        0   0
6020711                  -2   0  -1.0        0   1  0.666667        0   0
6020712                 -56   0 -28.0        0   0  0.000000        0   0

                       STATUS_2 ...  STATUS_5 STATUS_C               STATUS_X  \
                  mean      min ...      mean      min max      mean      min
SK_ID_BUREAU                    ...
5212206       0.000000        0 ...       0.0        0   0  0.000000        1
5212207       0.000000        0 ...       0.0        0   0  0.000000        1
5212208       0.000000        0 ...       0.0        0   1  0.979381        0
5212210       0.000000        0 ...       0.0        0   1  0.447059        0
5212211       0.000000        0 ...       0.0        0   1  0.237113        0
5212212       0.017857        0 ...       0.0        0   1  0.785714        0
5212213       0.000000        0 ...       0.0        0   0  0.000000        0
5212214       0.000000        0 ...       0.0        0   1  0.187500        0
5212215       0.000000        0 ...       0.0        0   0  0.000000        0
5212216       0.000000        0 ...       0.0        0   1  0.808511        0
5212217       0.000000        0 ...       0.0        0   1  0.927835        0
5212218       0.033708        0 ...       0.0        0   0  0.000000        0
5212219       0.036145        0 ...       0.0        0   1  0.783133        0
5212220       0.000000        0 ...       0.0        0   1  0.824324        0
5212221       0.000000        0 ...       0.0        0   1  0.714286        0
5212223       0.000000        0 ...       0.0        0   1  0.557143        0
5212224       0.000000        0 ...       0.0        0   1  0.760000        0
5212225       0.022727        0 ...       0.0        0   1  0.818182        0
5212226       0.000000        0 ...       0.0        0   0  0.000000        0
5212227       0.000000        0 ...       0.0        0   0  0.000000        0
5212228       0.000000        0 ...       0.0        0   0  0.000000        0
5212229       0.000000        0 ...       0.0        0   0  0.000000        0
5212230       0.022222        0 ...       0.0        0   1  0.711111        0
5212231       0.000000        0 ...       0.0        0   1  0.800000        0
5212232       0.000000        0 ...       0.0        0   0  0.000000        1
5212234       0.000000        0 ...       0.0        0   0  0.000000        1
5212235       0.000000        0 ...       0.0        0   0  0.000000        1
5212236       0.000000        0 ...       0.0        0   0  0.000000        1
5212237       0.000000        0 ...       0.0        0   0  0.000000        1
5212240       0.000000        0 ...       0.0        0   1  0.444444        0
...                ...      ... ...       ...      ...  ..       ...      ...
6020465       0.000000        0 ...       0.0        0   0  0.000000        0
6020468       0.000000        0 ...       0.0        0   1  0.880435        0
6020469       0.000000        0 ...       0.0        0   1  0.642857        0
6020470       0.000000        0 ...       0.0        0   1  0.864865        0
6020471       0.000000        0 ...       0.0        0   1  0.545455        0
6020473       0.025641        0 ...       0.0        0   0  0.000000        0
6020474       0.111111        0 ...       0.0        0   0  0.000000        0
6020475       0.090909        0 ...       0.0        0   0  0.000000        0
6020476       0.015873        0 ...       0.0        0   0  0.000000        0
6020477       0.000000        0 ...       0.0        0   0  0.000000        0
6020479       0.000000        0 ...       0.0        0   0  0.000000        0
6020480       0.000000        0 ...       0.0        0   1  0.753846        0
6020481       0.000000        0 ...       0.0        0   0  0.000000        0
6020482       0.000000        0 ...       0.0        0   1  0.812500        0
6020484       0.025641        0 ...       0.0        0   0  0.000000        0
6020485       0.166667        0 ...       0.0        0   0  0.000000        0
6020486       0.000000        0 ...       0.0        0   1  0.230769        0
6020487       0.000000        0 ...       0.0        0   1  0.692308        0
6020488       0.000000        0 ...       0.0        0   1  0.666667        0
6020489       0.024390        0 ...       0.0        0   1  0.353659        0
6020596       0.000000        0 ...       0.0        0   1  0.866667        0
6020597       0.000000        0 ...       0.0        0   1  0.961538        0
6020598       0.000000        0 ...       0.0        0   0  0.000000        0
6020599       0.000000        0 ...       0.0        0   1  0.827586        0
6020600       0.000000        0 ...       0.0        0   1  0.910448        0
6020601       0.000000        0 ...       0.0        0   1  0.931507        0
6020602       0.024390        0 ...       0.0        0   1  0.914634        0
6020603       0.000000        0 ...       0.0        0   1  0.942529        0
6020711       0.000000        0 ...       0.0        0   0  0.000000        0
6020712       0.000000        0 ...       0.0        1   1  1.000000        0

                           STATUS_nan
             max      mean        min max mean
SK_ID_BUREAU
5212206        1  1.000000          0   0    0
5212207        1  1.000000          0   0    0
5212208        1  0.020619          0   0    0
5212210        1  0.305882          0   0    0
5212211        1  0.597938          0   0    0
5212212        0  0.000000          0   0    0
5212213        1  0.851852          0   0    0
5212214        1  0.281250          0   0    0
5212215        0  0.000000          0   0    0
5212216        1  0.042553          0   0    0
5212217        1  0.010309          0   0    0
5212218        1  0.741573          0   0    0
5212219        1  0.012048          0   0    0
5212220        1  0.027027          0   0    0
5212221        0  0.000000          0   0    0
5212223        1  0.014286          0   0    0
5212224        0  0.000000          0   0    0
5212225        0  0.000000          0   0    0
5212226        1  0.055556          0   0    0
5212227        1  0.142857          0   0    0
5212228        1  0.854545          0   0    0
5212229        1  0.076923          0   0    0
5212230        1  0.166667          0   0    0
5212231        0  0.000000          0   0    0
5212232        1  1.000000          0   0    0
5212234        1  1.000000          0   0    0
5212235        1  1.000000          0   0    0
5212236        1  1.000000          0   0    0
5212237        1  1.000000          0   0    0
5212240        1  0.083333          0   0    0
...           ..       ...        ...  ..  ...
6020465        0  0.000000          0   0    0
6020468        1  0.119565          0   0    0
6020469        0  0.000000          0   0    0
6020470        0  0.000000          0   0    0
6020471        1  0.151515          0   0    0
6020473        1  0.051282          0   0    0
6020474        1  0.611111          0   0    0
6020475        1  0.272727          0   0    0
6020476        1  0.015873          0   0    0
6020477        1  0.052632          0   0    0
6020479        1  0.827160          0   0    0
6020480        1  0.046154          0   0    0
6020481        1  0.818182          0   0    0
6020482        1  0.020833          0   0    0
6020484        1  0.076923          0   0    0
6020485        0  0.000000          0   0    0
6020486        0  0.000000          0   0    0
6020487        0  0.000000          0   0    0
6020488        0  0.000000          0   0    0
6020489        1  0.085366          0   0    0
6020596        1  0.066667          0   0    0
6020597        0  0.000000          0   0    0
6020598        0  0.000000          0   0    0
6020599        0  0.000000          0   0    0
6020600        0  0.000000          0   0    0
6020601        0  0.000000          0   0    0
6020602        0  0.000000          0   0    0
6020603        0  0.000000          0   0    0
6020711        1  0.333333          0   0    0
6020712        0  0.000000          0   0    0

[1525 rows x 30 columns]

In [83]:
bb_group.columns = pd.Index([e[0] + "_" + e[1].upper() for e in bb_group.columns.tolist()])
bb_group.reset_index(inplace=True)

In [84]:
buro = buro.merge(bb_group, on = 'SK_ID_BUREAU', how = 'left')

In [85]:
buro.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,...,STATUS_5_MEAN,STATUS_C_MIN,STATUS_C_MAX,STATUS_C_MEAN,STATUS_X_MIN,STATUS_X_MAX,STATUS_X_MEAN,STATUS_nan_MIN,STATUS_nan_MAX,STATUS_nan_MEAN
0,215354,5714462,0,-497,0,-153.0,-153.0,NaN,0,91323.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,215354,5714463,1,-208,0,1075.0,NaN,NaN,0,225000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,215354,5714464,1,-203,0,528.0,NaN,NaN,0,464323.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,215354,5714465,1,-203,0,NaN,NaN,NaN,0,90000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,215354,5714466,1,-629,0,1197.0,NaN,77674.5,0,2700000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
avg_buro = buro.groupby('SK_ID_CURR').mean()

In [87]:
avg_buro.head()

,SK_ID_BUREAU,CREDIT_ACTIVE,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,...,STATUS_5_MEAN,STATUS_C_MIN,STATUS_C_MAX,STATUS_C_MEAN,STATUS_X_MIN,STATUS_X_MAX,STATUS_X_MEAN,STATUS_nan_MIN,STATUS_nan_MAX,STATUS_nan_MEAN
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100016,5.217358e+06,0.500000,-677.833333,0.0,-394.166667,-929.666667,0.000000,0.0,67914.000000,15931.125,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100053,5.723580e+06,0.142857,-2287.714286,0.0,-1519.333333,-1436.666667,NaN,0.0,92655.642857,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100165,5.215386e+06,0.000000,-1775.000000,0.0,-1550.000000,-1558.500000,0.000000,0.0,59034.240000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100166,5.216218e+06,0.153846,-906.538462,0.0,-611.923077,-779.636364,1706.608125,0.0,44816.507308,8185.725,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100294,5.805500e+06,0.200000,-774.400000,0.0,-41.800000,-456.000000,0.000000,0.0,180191.034000,18104.436,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
avg_buro['buro_count'] = buro[['SK_ID_BUREAU', 'SK_ID_CURR']].groupby('SK_ID_CURR').count()['SK_ID_BUREAU']
del avg_buro['SK_ID_BUREAU'], bb_group

In [89]:
avg_buro['buro_count']

SK_ID_CURR
100016     6
100053     7
100165     2
100166    13
100294     5
100312     2
100320     5
100329     1
100430     1
100453     3
100477     2
100549     4
100568     7
100572     2
100586     5
100597     1
100653     7
100666     3
100684     2
100696     2
100709     3
100719     1
100793     2
100802     1
100819    18
100838     7
100878     4
100900     6
100915     1
100977     2
          ..
455046     3
455078     5
455084     6
455171     7
455199     2
455200     7
455317    14
455345     4
455383    17
455439    12
455476     5
455511     1
455528     8
455577     4
455702    15
455719     4
455760     6
455764     2
455867     1
455939     6
455978     9
456030     3
456047     3
456062     1
456114     6
456116     2
456179     4
456181     3
456243     5
456247     7
Name: buro_count, Length: 10171, dtype: int64

In [90]:
cat_columns = [col for col in installments_payments.columns if installments_payments[col].dtype == 'object']

In [91]:
cat_columns

[]

In [92]:
installments_payments = pd.get_dummies(installments_payments,cat_columns, dummy_na = True)

In [93]:
installments_payments.head()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585

In [94]:
installments_payments['AMOUNT_DIFF'] = installments_payments['AMT_INSTALMENT'] - installments_payments['AMT_PAYMENT']

In [95]:
installments_payments['AMOUNT_PERC'] =  installments_payments['AMT_PAYMENT']/installments_payments['AMT_INSTALMENT']

In [96]:
installments_payments['DAYS_ENTRY_PAYMENT']

0       -1187.0
1       -2156.0
2         -63.0
3       -2426.0
4       -1366.0
5       -1417.0
6        -352.0
7        -994.0
8        -197.0
9        -609.0
10       -937.0
11      -1269.0
12       -761.0
13       -800.0
14      -1153.0
15      -2619.0
16       -503.0
17      -1048.0
18      -1693.0
19      -1693.0
20       -365.0
21        -59.0
22      -1282.0
23       -322.0
24       -286.0
25       -255.0
26       -356.0
27      -2561.0
28       -155.0
29      -1895.0
          ...
49970    -770.0
49971    -207.0
49972   -2085.0
49973    -525.0
49974    -930.0
49975   -2074.0
49976   -2698.0
49977   -1097.0
49978    -452.0
49979    -441.0
49980   -1549.0
49981    -766.0
49982    -371.0
49983    -505.0
49984   -2217.0
49985    -378.0
49986   -2035.0
49987    -738.0
49988    -358.0
49989    -297.0
49990    -666.0
49991    -666.0
49992    -452.0
49993    -962.0
49994   -1704.0
49995     -88.0
49996    -766.0
49997     -79.0
49998    -713.0
49999   -2269.0
Name: DAYS_ENTRY_PAYMENT, Length: 50000, dtype: float64

In [97]:
installments_payments['DAYS_INSTALMENT']

0       -1180.0
1       -2156.0
2         -63.0
3       -2418.0
4       -1383.0
5       -1384.0
6        -349.0
7        -968.0
8        -197.0
9        -570.0
10       -933.0
11      -1262.0
12       -761.0
13       -755.0
14      -1153.0
15      -2619.0
16       -500.0
17      -1037.0
18      -1680.0
19      -1699.0
20       -361.0
21        -56.0
22      -1277.0
23       -322.0
24       -281.0
25       -240.0
26       -345.0
27      -2548.0
28       -155.0
29      -1894.0
          ...
49970    -751.0
49971    -203.0
49972   -2084.0
49973    -522.0
49974    -930.0
49975   -2060.0
49976   -2685.0
49977   -1079.0
49978    -452.0
49979    -428.0
49980   -1543.0
49981    -771.0
49982    -338.0
49983    -462.0
49984   -2207.0
49985    -362.0
49986   -2035.0
49987    -732.0
49988    -350.0
49989    -287.0
49990    -633.0
49991    -633.0
49992    -445.0
49993    -944.0
49994   -1676.0
49995     -88.0
49996    -766.0
49997     -59.0
49998    -704.0
49999   -2263.0
Name: DAYS_INSTALMENT, Length: 50000, dtype: float64

In [98]:
installments_payments['DAYS_P'] =  installments_payments['DAYS_ENTRY_PAYMENT']-installments_payments['DAYS_INSTALMENT']
installments_payments['DAYS_I'] =  installments_payments['DAYS_INSTALMENT']-installments_payments['DAYS_ENTRY_PAYMENT']

In [99]:
installments_payments['DAYS_P']

0        -7.0
1         0.0
2         0.0
3        -8.0
4        17.0
5       -33.0
6        -3.0
7       -26.0
8         0.0
9       -39.0
10       -4.0
11       -7.0
12        0.0
13      -45.0
14        0.0
15        0.0
16       -3.0
17      -11.0
18      -13.0
19        6.0
20       -4.0
21       -3.0
22       -5.0
23        0.0
24       -5.0
25      -15.0
26      -11.0
27      -13.0
28        0.0
29       -1.0
         ...
49970   -19.0
49971    -4.0
49972    -1.0
49973    -3.0
49974     0.0
49975   -14.0
49976   -13.0
49977   -18.0
49978     0.0
49979   -13.0
49980    -6.0
49981     5.0
49982   -33.0
49983   -43.0
49984   -10.0
49985   -16.0
49986     0.0
49987    -6.0
49988    -8.0
49989   -10.0
49990   -33.0
49991   -33.0
49992    -7.0
49993   -18.0
49994   -28.0
49995     0.0
49996     0.0
49997   -20.0
49998    -9.0
49999    -6.0
Name: DAYS_P, Length: 50000, dtype: float64

In [100]:
installments_payments['DAYS_I']

0         7.0
1         0.0
2         0.0
3         8.0
4       -17.0
5        33.0
6         3.0
7        26.0
8         0.0
9        39.0
10        4.0
11        7.0
12        0.0
13       45.0
14        0.0
15        0.0
16        3.0
17       11.0
18       13.0
19       -6.0
20        4.0
21        3.0
22        5.0
23        0.0
24        5.0
25       15.0
26       11.0
27       13.0
28        0.0
29        1.0
         ...
49970    19.0
49971     4.0
49972     1.0
49973     3.0
49974     0.0
49975    14.0
49976    13.0
49977    18.0
49978     0.0
49979    13.0
49980     6.0
49981    -5.0
49982    33.0
49983    43.0
49984    10.0
49985    16.0
49986     0.0
49987     6.0
49988     8.0
49989    10.0
49990    33.0
49991    33.0
49992     7.0
49993    18.0
49994    28.0
49995     0.0
49996     0.0
49997    20.0
49998     9.0
49999     6.0
Name: DAYS_I, Length: 50000, dtype: float64

In [101]:
aggregations = {
        'NUM_INSTALMENT_VERSION': ['nunique'],
        'DAYS_P': ['max', 'mean', 'sum'],
        'DAYS_I': ['max', 'mean', 'sum'],
        'AMOUNT_DIFF': ['max', 'mean', 'sum', 'var'],
        'AMOUNT_PERC': ['max', 'mean', 'sum', 'var'],
        'AMT_INSTALMENT': ['max', 'mean', 'sum'],
        'AMT_PAYMENT': ['min', 'max', 'mean', 'sum'],
        'DAYS_ENTRY_PAYMENT': ['max', 'mean', 'sum']
    }

In [102]:
cat_columns

[]

In [103]:
installments_payments_agg = installments_payments.groupby('SK_ID_CURR').agg(aggregations)

In [104]:
installments_payments_agg

           NUM_INSTALMENT_VERSION DAYS_P                    DAYS_I  \
                          nunique    max        mean    sum    max
SK_ID_CURR
100003                          1   -4.0   -4.000000   -4.0    4.0
100009                          1  -13.0  -14.500000  -29.0   16.0
100011                          1  958.0  958.000000  958.0 -958.0
100012                          1  -41.0  -41.000000  -41.0   41.0
100016                          1   -6.0   -7.000000  -14.0    8.0
100017                          1  -10.0  -10.000000  -10.0   10.0
100018                          1    0.0    0.000000    0.0    0.0
100023                          1  -23.0  -23.000000  -23.0   23.0
100025                          1    1.0    1.000000    1.0   -1.0
100026                          1  -13.0  -13.000000  -13.0   13.0
100028                          1    0.0    0.000000    0.0    0.0
100035                          1   -3.0   -4.000000   -8.0    5.0
100041                          1  -82.0  -82.000000  -82.0   82.0
100042                          2    0.0   -4.250000  -17.0   13.0
100044                          1  -11.0  -11.000000  -11.0   11.0
100045                          1   -8.0   -8.000000   -8.0    8.0
100054                          1  -10.0  -10.000000  -10.0   10.0
100061                          1    2.0    2.000000    2.0   -2.0
100062                          1   -5.0   -5.000000   -5.0    5.0
100066                          1   -9.0  -10.500000  -21.0   12.0
100067                          3   -5.0  -10.000000  -30.0   20.0
100070                          1   -7.0   -7.000000   -7.0    7.0
100077                          1   23.0   23.000000   23.0  -23.0
100085                          1  -12.0  -12.000000  -12.0   12.0
100087                          1  -11.0  -11.000000  -11.0   11.0
100088                          1  -20.0  -20.000000  -20.0   20.0
100097                          1  -13.0  -13.000000  -13.0   13.0
100100                          1    0.0  -10.666667  -32.0   18.0
100101                          1    0.0    0.000000    0.0    0.0
100103                          1   -4.0   -4.000000   -4.0    4.0
...                           ...    ...         ...    ...    ...
199905                          1    1.0    0.500000    1.0    0.0
199911                          1  -11.0  -11.000000  -11.0   11.0
199913                          1    0.0   -6.000000  -12.0   12.0
199915                          1    0.0    0.000000    0.0    0.0
199916                          1  -12.0  -13.333333  -40.0   14.0
199917                          1   -6.0  -18.000000  -36.0   30.0
199919                          1  -16.0  -22.000000  -44.0   28.0
199921                          2    0.0   -2.750000  -11.0   11.0
199925                          2   -3.0   -9.666667  -29.0   19.0
199926                          1  -13.0  -13.000000  -13.0   13.0
199937                          1    0.0   -4.333333  -13.0    9.0
199938                          1   11.0   11.000000   11.0  -11.0
199941                          2    0.0   -2.000000   -4.0    4.0
199942                          2   14.0    2.250000    9.0    8.0
199945                          1   -8.0   -9.500000  -19.0   11.0
199948                          1    0.0    0.000000    0.0    0.0
199949                          1  -27.0  -27.000000  -27.0   27.0
199952                          1   -2.0   -2.000000   -2.0    2.0
199959                          2    1.0    1.000000    2.0   -1.0
199960                          3    0.0  -23.750000  -95.0   37.0
199971                          2    2.0  -19.250000  -77.0   29.0
199974                          1   -1.0   -1.000000   -1.0    1.0
199975                          1  -13.0  -13.000000  -13.0   13.0
199978                          1  -24.0  -24.000000  -24.0   24.0
199979                          1   12.0    5.500000   11.0    1.0
199980                          2   -1.0   -1.500000   -3.0    2.0
199981                          1   -3.0   -3.000000   -3.0    3.0
199986                          1   -5.0   -5.000000   -5.0    5.0
199998                          1    2.0    2.000000    2.0   -2.0
199999                          1   -5.0   -5.000000   -5.0    5.0

                              AMOUNT_DIFF                             ...    \
                  mean    sum         max          mean         sum   ...
SK_ID_CURR                                                            ...
100003        4.000000    4.0       0.000       0.00000       0.000   ...
100009       14.500000   29.0       0.000       0.00000       0.000   ...
100011     -958.000000 -958.0   14138.865   14138.86500   14138.865   ...
100012       41.000000   41.0       0.000       0.00000       0.000   ...
100016        7.000000   14.0       3.960       1.98000       3.960   ...
100017       10.000000   10.0       0.000       0.00000       0.000   ...
100018        0.000000    0.0       0.000       0.00000       0.000   ...
100023       23.000000   23.0       0.000       0.00000       0.000   ...
100025       -1.000000   -1.0       0.000       0.00000       0.000   ...
100026       13.000000   13.0       0.000       0.00000       0.000   ...
100028        0.000000    0.0       0.000       0.00000       0.000   ...
100035        4.000000    8.0       0.000       0.00000       0.000   ...
100041       82.000000   82.0       0.000       0.00000       0.000   ...
100042        4.250000   17.0     157.500      39.37500     157.500   ...
100044       11.000000   11.0       0.000       0.00000       0.000   ...
100045        8.000000    8.0       0.000       0.00000       0.000   ...
100054       10.000000   10.0       0.000       0.00000       0.000   ...
100061       -2.000000   -2.0     145.935     145.93500     145.935   ...
100062        5.000000    5.0       0.000       0.00000       0.000   ...
100066       10.500000   21.0       0.000       0.00000       0.000   ...
100067       10.000000   30.0       0.000       0.00000       0.000   ...
100070        7.000000    7.0       0.000       0.00000       0.000   ...
100077      -23.000000  -23.0   15089.670   15089.67000   15089.670   ...
100085       12.000000   12.0       0.000       0.00000       0.000   ...
100087       11.000000   11.0       0.000       0.00000       0.000   ...
100088       20.000000   20.0       0.000       0.00000       0.000   ...
100097       13.000000   13.0       0.000       0.00000       0.000   ...
100100       10.666667   32.0       0.000       0.00000       0.000   ...
100101        0.000000    0.0       0.000       0.00000       0.000   ...
100103        4.000000    4.0      17.415      17.41500      17.415   ...
...                ...    ...         ...           ...         ...   ...
199905       -0.500000   -1.0       0.000       0.00000       0.000   ...
199911       11.000000   11.0       0.000       0.00000       0.000   ...
199913        6.000000   12.0       0.000       0.00000       0.000   ...
199915        0.000000    0.0       0.000       0.00000       0.000   ...
199916       13.333333   40.0       0.000       0.00000       0.000   ...
199917       18.000000   36.0       0.000       0.00000       0.000   ...
199919       22.000000   44.0       0.000       0.00000       0.000   ...
199921        2.750000   11.0       0.000       0.00000       0.000   ...
199925        9.666667   29.0       0.000       0.00000       0.000   ...
199926       13.000000   13.0       0.000       0.00000       0.000   ...
199937        4.333333   13.0       0.000       0.00000       0.000   ...
199938      -11.000000  -11.0      23.490      23.49000      23.490   ...
199941        2.000000    4.0       0.000       0.00000       0.000   ...
199942       -2.250000   -9.0    1420.245     460.18125    1840.725   ...
199945        9.500000   19.0       2.520       1.26000       2.520   ...
199948        0.000000    0.0       0.000       0.00000       0.000   ...
199949       27.000000   27.0       0.000       0.00000       0.000   ...
199952        2.000000    2.0       0.000       0.00000       0.000   ...
199959       -1.000000   -2.0       0.000       0.00000       0.000   ...
199960       23.750000   95.0       0.000 -221543.35875 -886173.435   ...
199971       19.250000   77.0    1431.000     357.75000    1431.000   ...
199974        1.000000    1.0       0.000       0.00000       0.000   ...
199975       13.000000   13.0       0.000       0.00000       0.000   ...
199978       24.000000   24.0       0.000       0.00000       0.000   ...
199979       -5.500000  -11.0       0.000       0.00000       0.000   ...
199980        1.500000    3.0       0.000       0.00000       0.000   ...
199981        3.000000    3.0       0.000       0.00000       0.000   ...
199986        5.000000    5.0       0.000       0.00000       0.000   ...
199998       -2.000000   -2.0     194.265     194.26500     194.265   ...
199999        5.000000    5.0       0.000       0.00000       0.000   ...

           AMT_INSTALMENT                           AMT_PAYMENT              \
                      max          mean         sum         min         max
SK_ID_CURR
100003          98356.995   98356.99500   98356.995   98356.995   98356.995
100009           8996.760    8909.01000   17818.020    8821.260    8996.760
100011          14588.550   14588.55000   14588.550     449.685     449.685
100012           5242.860    5242.86000    5242.860    5242.860    5242.860
100016          14480.460    9683.48250   19366.965    4886.505   14476.500
100017          11783.520   11783.52000   11783.520   11783.520   11783.520
100018          48759.525   48759.52500   48759.525   48759.525   48759.525
100023           7992.000    7992.00000    7992.000    7992.000    7992.000
100025          23833.575   23833.57500   23833.575   23833.575   23833.575
100026          23608.485   23608.48500   23608.485   23608.485   23608.485
100028           4500.000    1528.87500    4586.625       1.170    4500.000
100035          18201.645   17510.69250   35021.385   16819.740   18201.645
100041           7297.515    7297.51500    7297.515    7297.515    7297.515
100042          20150.550   13450.27500   53801.100    4342.500   20150.550
100044          22962.330   22962.33000   22962.330   22962.330   22962.330
100045           8334.405    8334.40500    8334.405    8334.405    8334.405
100054           8896.230    8896.23000    8896.230    8896.230    8896.230
100061           6006.285    6006.28500    6006.285    5860.350    5860.350
100062          29745.000   29745.00000   29745.000   29745.000   29745.000
100066          12382.650    9986.28750   19972.575    7589.925   12382.650
100067          37375.830   15839.68500   47519.055    2250.000   37375.830
100070          13879.260   13879.26000   13879.260   13879.260   13879.260
100077          15101.280   15101.28000   15101.280      11.610      11.610
100085           4550.265    4550.26500    4550.265    4550.265    4550.265
100087           7485.615    7485.61500    7485.615    7485.615    7485.615
100088          15388.470   15388.47000   15388.470   15388.470   15388.470
100097          10080.720   10080.72000   10080.720   10080.720   10080.720
100100           4500.000    3161.11500    9483.345     483.345    4500.000
100101          27000.000   27000.00000   27000.000   27000.000   27000.000
100103           4704.345    4704.34500    4704.345    4686.930    4686.930
...                   ...           ...         ...         ...         ...
199905          11612.295   11612.29500   23224.590   11612.295   11612.295
199911          15027.615   15027.61500   15027.615   15027.615   15027.615
199913           1975.770    1944.15750    3888.315    1912.545    1975.770
199915             99.180      99.18000      99.180      99.180      99.180
199916          14312.880   14312.88000   42938.640   14312.880   14312.880
199917          15170.085   14458.92750   28917.855   13747.770   15170.085
199919          18252.180   11635.53750   23271.075    5018.895   18252.180
199921           9965.790    2667.01500   10668.060     234.090    9965.790
199925          25316.640   18831.90000   56495.700    5862.420   25316.640
199926           9540.180    9540.18000    9540.180    9540.180    9540.180
199937          27558.000   14926.08000   44778.240    8610.120   27558.000
199938           2970.585    2970.58500    2970.585    2947.095    2947.095
199941           2254.275    1167.90750    2335.815      81.540    2254.275
199942           6750.000    3352.64625   13410.585     117.585    6750.000
199945          14277.645    9417.08250   18834.165    4554.000   14277.645
199948              2.745       2.74500       2.745       2.745       2.745
199949           4564.395    4564.39500    4564.395    4564.395    4564.395
199952           8700.930    8700.93000    8700.930    8700.930    8700.930
199959          16530.390   15721.98750   31443.975   14913.585   16530.390
199960         849656.430  226860.57000  907442.280    9470.925  886173.435
199971          28742.670   28220.79375  112883.175   25224.165   28742.670
199974           3879.270    3879.27000    3879.270    3879.270    3879.270
199975          18240.525   18240.52500   18240.525   18240.525   18240.525
199978           4299.750    4299.75000    4299.750    4299.750    4299.750
199979           9000.000    6187.50000   12375.000    3375.000    9000.000
199980          91280.565   70219.30500  140438.610   49158.045   91280.565
199981          14793.075   14793.07500   14793.075   14793.075   14793.075
199986           4068.045    4068.04500    4068.045    4068.045    4068.045
199998          38074.410   38074.41000   38074.410   37880.145   37880.145
199999           7446.150    7446.15000    7446.150    7446.150    7446.150

                                      DAYS_ENTRY_PAYMENT
                    mean          sum                max         mean     sum
SK_ID_CURR
100003       98356.99500    98356.995             -690.0  -690.000000  -690.0
100009        8909.01000    17818.020             -194.0  -210.500000  -421.0
100011         449.68500      449.685            -1189.0 -1189.000000 -1189.0
100012        5242.86000     5242.860             -428.0  -428.000000  -428.0
100016        9681.50250    19363.005             -725.0 -1756.500000 -3513.0
100017       11783.52000    11783.520             -231.0  -231.000000  -231.0
100018       48759.52500    48759.525            -1553.0 -1553.000000 -1553.0
100023        7992.00000     7992.000            -1602.0 -1602.000000 -1602.0
100025       23833.57500    23833.575            -1428.0 -1428.000000 -1428.0
100026       23608.48500    23608.485            -1409.0 -1409.000000 -1409.0
100028        1528.87500     4586.625             -105.0  -355.666667 -1067.0
100035       17510.69250    35021.385             -698.0  -884.000000 -1768.0
100041        7297.51500     7297.515            -1499.0 -1499.000000 -1499.0
100042       13410.90000    53643.600            -1498.0 -1935.500000 -7742.0
100044       22962.33000    22962.330            -2130.0 -2130.000000 -2130.0
100045        8334.40500     8334.405            -1726.0 -1726.000000 -1726.0
100054        8896.23000     8896.230             -215.0  -215.000000  -215.0
100061        5860.35000     5860.350            -1270.0 -1270.000000 -1270.0
100062       29745.00000    29745.000             -240.0  -240.000000  -240.0
100066        9986.28750    19972.575             -279.0  -394.500000  -789.0
100067       15839.68500    47519.055              -28.0  -893.333333 -2680.0
100070       13879.26000    13879.260            -1044.0 -1044.000000 -1044.0
100077          11.61000       11.610            -2388.0 -2388.000000 -2388.0
100085        4550.26500     4550.265            -1156.0 -1156.000000 -1156.0
100087        7485.61500     7485.615            -1180.0 -1180.000000 -1180.0
100088       15388.47000    15388.470            -1435.0 -1435.000000 -1435.0
100097       10080.72000    10080.720             -321.0  -321.000000  -321.0
100100        3161.11500     9483.345             -243.0 -1786.000000 -5358.0
100101       27000.00000    27000.000              -41.0   -41.000000   -41.0
100103        4686.93000     4686.930             -193.0  -193.000000  -193.0
...                  ...          ...                ...          ...     ...
199905       11612.29500    23224.590             -894.0  -938.500000 -1877.0
199911       15027.61500    15027.615            -2025.0 -2025.000000 -2025.0
199913        1944.15750     3888.315             -132.0 -1252.500000 -2505.0
199915          99.18000       99.180             -281.0  -281.000000  -281.0
199916       14312.88000    42938.640             -348.0  -479.333333 -1438.0
199917       14458.92750    28917.855             -603.0 -1019.500000 -2039.0
199919       11635.53750    23271.075             -472.0  -974.500000 -1949.0
199921        2667.01500    10668.060            -1187.0 -1358.000000 -5432.0
199925       18831.90000    56495.700             -430.0  -715.333333 -2146.0
199926        9540.18000     9540.180             -966.0  -966.000000  -966.0
199937       14926.08000    44778.240            -1620.0 -2133.666667 -6401.0
199938        2947.09500     2947.095            -1289.0 -1289.000000 -1289.0
199941        1167.90750     2335.815             -108.0 -1289.500000 -2579.0
199942        2892.46500    11569.860             -419.0 -1655.500000 -6622.0
199945        9415.82250    18831.645             -635.0 -1153.500000 -2307.0
199948           2.74500        2.745             -381.0  -381.000000  -381.0
199949        4564.39500     4564.395             -228.0  -228.000000  -228.0
199952        8700.93000     8700.930            -1061.0 -1061.000000 -1061.0
199959       15721.98750    31443.975              -90.0  -270.000000  -540.0
199960      448403.92875  1793615.715             -526.0 -1100.500000 -4402.0
199971       27863.04375   111452.175              -85.0  -539.750000 -2159.0
199974        3879.27000     3879.270             -360.0  -360.000000  -360.0
199975       18240.52500    18240.525            -2209.0 -2209.000000 -2209.0
199978        4299.75000     4299.750             -802.0  -802.000000  -802.0
199979        6187.50000    12375.000            -1786.0 -2280.500000 -4561.0
199980       70219.30500   140438.610               -9.0   -99.500000  -199.0
199981       14793.07500    14793.075             -466.0  -466.000000  -466.0
199986        4068.04500     4068.045            -1255.0 -1255.000000 -1255.0
199998       37880.14500    37880.145             -682.0  -682.000000  -682.0
199999        7446.15000     7446.150            -1397.0 -1397.000000 -1397.0

[32256 rows x 25 columns]

In [105]:
installments_payments_agg.columns = pd.Index(['INSTALL_' + e[0] + "_" + e[1].upper() for e in installments_payments_agg.columns.tolist()])
installments_payments_agg.reset_index(inplace=True)

In [106]:
installments_payments = installments_payments.merge(installments_payments_agg, on = 'SK_ID_CURR',how = 'left')

In [107]:
installments_payments

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,AMOUNT_DIFF,AMOUNT_PERC,...,INSTALL_AMT_INSTALMENT_MAX,INSTALL_AMT_INSTALMENT_MEAN,INSTALL_AMT_INSTALMENT_SUM,INSTALL_AMT_PAYMENT_MIN,INSTALL_AMT_PAYMENT_MAX,INSTALL_AMT_PAYMENT_MEAN,INSTALL_AMT_PAYMENT_SUM,INSTALL_DAYS_ENTRY_PAYMENT_MAX,INSTALL_DAYS_ENTRY_PAYMENT_MEAN,INSTALL_DAYS_ENTRY_PAYMENT_SUM
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360,0.000,1.000000,...,11302.605,8399.77500,25199.325,6948.360,11302.605,8399.77500,25199.325,-552.0,-1015.333333,-3046.0
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525,0.000,1.000000,...,3375.000,2131.14375,8524.575,1716.525,3375.000,2131.14375,8524.575,-877.0,-1907.250000,-7629.0
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000,0.000,1.000000,...,25425.000,25425.00000,25425.000,25425.000,25425.000,25425.00000,25425.000,-63.0,-63.000000,-63.0
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130,0.000,1.000000,...,24350.130,24350.13000,24350.130,24350.130,24350.130,24350.13000,24350.130,-2426.0,-2426.000000,-2426.0
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585,4.455,0.997942,...,2390.265,2277.65250,4555.305,1711.800,2160.585,1936.19250,3872.385,-805.0,-1085.500000,-2171.0
5,1137312,164489,1.0,12,-1384.0,-1417.0,5970.375,5970.375,0.000,1.000000,...,5970.375,5970.37500,5970.375,5970.375,5970.375,5970.37500,5970.375,-1417.0,-1417.000000,-1417.0
6,2234264,184693,4.0,11,-349.0,-352.0,29432.295,29432.295,0.000,1.000000,...,29432.295,29432.29500,29432.295,29432.295,29432.295,29432.29500,29432.295,-352.0,-352.000000,-352.0
7,1818599,111420,2.0,4,-968.0,-994.0,17862.165,17862.165,0.000,1.000000,...,24024.960,20943.56250,41887.125,17862.165,24024.960,20943.56250,41887.125,-382.0,-688.000000,-1376.0
8,2723183,112102,0.0,14,-197.0,-197.0,70.740,70.740,0.000,1.000000,...,14063.265,4713.18000,14139.540,5.535,14063.265,4713.18000,14139.540,-77.0,-126.333333,-379.0
9,1413990,109741,1.0,4,-570.0,-609.0,14308.470,14308.470,0.000,1.000000,...,14308.470,10129.92750,20259.855,5951.385,14308.470,10129.92750,20259.855,-264.0,-436.500000,-873.0
10,1782554,106597,1.0,3,-933.0,-937.0,34620.525,34620.525,0.000,1.000000,...,34620.525,21810.26250,43620.525,9000.000,34620.525,21810.26250,43620.525,-937.0,-1343.500000,-2687.0
11,2558880,154793,1.0,8,-1262.0,-1269.0,15031.080,15031.080,0.000,1.000000,...,15031.080,15031.08000,30062.160,14242.500,15031.080,14636.79000,29273.580,-1269.0,-1377.500000,-2755.0
12,1570206,147645,0.0,20,-761.0,-761.0,21.510,21.510,0.000,1.000000,...,21.510,21.51000,21.510,21.510,21.510,21.51000,21.510,-761.0,-761.000000,-761.0
13,1723268,197273,1.0,14,-755.0,-800.0,6093.990,6093.990,0.000,1.000000,...,6093.990,6093.99000,12187.980,6093.990,6093.990,6093.99000,12187.980,-800.0,-908.000000,-1816.0
14,1594684,100193,0.0,56,-1153.0,-1153.0,301.860,301.860,0.000,1.000000,...,301.860,301.86000,905.580,301.860,301.860,301.86000,905.580,-606.0,-1407.333333,-4222.0
15,1456258,118323,1.0,6,-2619.0,-2619.0,4844.925,4844.925,0.000,1.000000,...,12169.800,5123.79000,20495.160,105.435,12169.800,5123.79000,20495.160,-249.0,-1484.750000,-5939.0
16,1053286,170192,1.0,7,-500.0,-503.0,6882.840,6882.840,0.000,1.000000,...,6882.840,6882.84000,6882.840,6882.840,6882.840,6882.84000,6882.840,-503.0,-503.000000,-503.0
17,1410565,197687,1.0,1,-1037.0,-1048.0,12514.050,12510.450,3.600,0.999712,...,15853.050,12993.10500,38979.315,10612.215,15853.050,12991.90500,38975.715,-1048.0,-1169.000000,-3507.0
18,2391610,183431,0.0,20,-1680.0,-1693.0,7875.000,7875.000,0.000,1.000000,...,12375.000,10125.00000,20250.000,7875.000,12375.000,10125.00000,20250.000,-961.0,-1327.000000,-2654.0
19,2329072,183463,1.0,11,-1699.0,-1693.0,7283.295,7283.295,0.000,1.000000,...,20923.425,14103.36000,28206.720,7283.295,20923.425,14103.36000,28206.720,-825.0,-1259.000000,-2518.0
20,1354314,196570,1.0,14,-361.0,-365.0,15219.000,15219.000,0.000,1.000000,...,15219.000,15219.00000,30438.000,36.000,15219.000,7627.50000,15255.000,-365.0,-547.000000,-1094.0
21,2260765,106012,3.0,23,-56.0,-59.0,13494.915,13494.915,0.000,1.000000,...,13494.915,13494.91500,13494.915,13494.915,13494.915,13494.91500,13494.915,-59.0,-59.000000,-59.0
22,1995642,134723,1.0,38,-1277.0,-1282.0,12949.200,12949.200,0.000,1.000000,...,16109.415,12925.53000,64627.650,7875.000,16109.415,12925.53000,64627.650,-241.0,-1175.400000,-5877.0
23,2631836,140337,0.0,116,-322.0,-322.0,560.880,560.880,0.000,1.000000,...,23444.235,7153.99875,28615.995,560.880,22577.760,6937.38000,27749.520,-127.0,-1076.500000,-4306.0
24,2702769,102122,1.0,1,-281.0,-286.0,5178.195,5178.195,0.000,1.000000,...,5178.195,5178.19500,5178.195,5178.195,5178.195,5178.19500,5178.195,-286.0,-286.000000,-286.0
25,1770345,128334,1.0,5,-240.0,-255.0,10649.925,10649.925,0.000,1.000000,...,10649.925,10649.92500,10649.925,10649.925,10649.925,10649.92500,10649.925,-255.0,-255.000000,-255.0
26,1818333,191655,1.0,6,-345.0,-356.0,16479.270,16479.270,0.000,1.000000,...,16479.270,16479.27000,16479.270,16479.270,16479.270,16479.27000,16479.270,-356.0,-356.000000,-356.0
27,1991673,162903,0.0,46,-2548.0,-2561.0,5400.000,5400.000,0.000,1.000000,...,5400.000,3095.37000,9286.110,286.110,5400.000,3095.37000,9286.110,-142.0,-1845.666667,-5537.0
28,1184783,140804,0.0,106,-155.0,-155.0,503.460,503.460,0.000,1.000000,...,503.460,503.46000,503.460,503.460,503.460,503.46000,503.460,-155.0,-155.000000,-155.0
29,1181315,174565,1.0,7,-1894.0,-1895.0,16274.790,16274.790,0.000,1.000000,...,16274.790,16274.79000,16274.790,16274.790,16274.790,16274.79000,16274.790,-1895.0,-1895.000000,-1895.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,1952471,177357,1.0,1,-751.0,-770.0,13993.065,13993.065,0.000,1.000000,...,13993.065,13993.06500,13993.065,13993.065,13993.065,13993.06500,13993.065,-770.0,-770.000000,-770.0
49971,2673815,174990,19.0,15,-203.0,-207.0,52922.565,52922.565,0.000,1.000000,...,52922.565,52922.56500,52922.565,52922.565,52922.565,52922.56500,52922.565,-207.0,-207.000000,-207.0
49972,1083564,141350,0.0,63,-2084.0,-2085.0,3375.000,3375.000,0.000,1.000000,...,3375.000,1770.00000,5310.000,810.000,3375.000,1770.00000,5310.000,-1085.0,-1632.666667,-4898.0
49973,1949829,139584,0.0,1,-522.0,-525.0,31165.110,31165.110,0.000,1.000000,...,31165.110,31165.11000,31165.110,31165.110,31165.110,31165.11000,31165.110,-525.0,-525.000000,-525.0
49974,1267942,139066,0.0,85,-930.0,-930.0,599.895,599.895,0.000,1.000000,...,23625.000,6394.67100,31973.355,599.895,23625.000,6394.67100,31973.355,-200.0,-1350.800000,-6754.0
49975,2719689,171671,1.0,3,-2060.0,-2074.0,3178.440,3178.440,0.000,1.000000,...,16695.810,9937.12500,19874.250,3178.440,16695.810,9937.12500,19874.250,-376.0,-1225.000000,-2450.0
49976,1307337,165299,1.0,8,-2685.0,-2698.0,2313.270,2313.270,0.000,1.000000,...,10917.630,7821.34500,23464.035,2313.270,10916.910,7821.10500,23463.315,-1601.0,-2113.666667,-6341.0
49977,1471796,103463,1.0,10,-1079.0,-1097.0,39568.950,39568.950,0.000,1.000000,...,39568.950,39568.95000,79137.900,39568.950,39568.950,39568.95000,79137.900,-1097.0,-1226.500000,-2453.0
49978,2665822,162572,1.0,2,-452.0,-452.0,23483.025,23483.025,0.000,1.000000,...,23483.025,23483.02500,46966.050,23483.025,23483.025,23483.02500,46966.050,-452.0,-467.500000,-935.0
49979,2385630,177874,0.0,21,-428.0,-441.0,3505.545,3505.545,0.000,1.000000,...,21728.385,12616.96500,25233.930,3505.545,21728.385,12616.96500,25233.930,-441.0,-613.000000,-1226.0
49980,1417386,141659,0.0,34,-1543.0,-1549.0,9000.000,9000.000,0.000,1.000000,...,13089.330,11044.66500,22089.330,9000.000,13089.330,11044.66500,22089.330,-853.0,-1201.000000,-2402.0
49981,2265017,157426,1.0,4,-771.0,-766.0,14871.240,1273.590,13597.650,0.085641,...,14871.240,14871.24000,14871.240,1273.590,1273.590,1273.59000,1273.590,-766.0,-766.000000,-766.0
49982,1308624,138311,1.0,10,-338.0,-371.0,27305.550,2241.900,25063.650,0.082104,...,27305.550,7365.93300,36829.665,1374.705,5400.000,2353.20300,11766.015,-371.0,-1187.000000,-5935.0
49983,2428707,115408,1.0,14,-462.0,-505.0,15577.830,537.210,15040.620,0.034486,...,15577.830,11192.61000,33577.830,537.210,9000.000,6179.07000,18537.210,-505.0,-1098.666667,-3296.0
49984,1180750,139459,1.0,4,-2207.0,-2217.0,9673.155,9517.050,156.105,0.983862,...,9673.155,9673.15500,29019.465,156.105,9517.050,6396.73500,19190.205,-2062.0,-2135.666667,-6407.0
49985,1385101,164275,1.0,7,-362.0,-378.0,6337.170,6337.170,0.000,1.000000,...,6337.170,6337.17000,6337.170,6337.170,6337.170,6337.17000,6337.170,-378.0,-378.000000,-378.0
49986,2259298,131795,0.0,39,-2035.0,-2035.0,124.155,124.155,0.000,1.000000,...,124.155,124.15500,124.155,124.155,124.155,124.15500,124.155,-2035.0,-2035.000000,-2035.0
49987,1412279,136792,1.0,5,-732.0,-738.0,8996.310,8996.310,0.000,1.000000,...,58335.975,33666.14250,67332.285,8996.310,58335.975,33666.14250,67332.285,-315.0,-526.500000,-1053.0
49988,1092076,164028,1.0,6,-350.0,-358.0,9175.905,9175.905,0.000,1.000000,...,9175.905,9175.90500,9175.905,9175.905,9175.905,9175.90500,9175.905,-358.0,-358.000000,-358.0
49989,1928597,132920,1.0,2,-287.0,-297.0,10350.900,10350.900,0.000,1.000000,...,23279.355,17602.40250,70409.610,10350.900,23279.355,17602.40250,70409.610,-297.0,-896.000000,-3584.0
49990,2509814,173653,2.0,5,-633.0,-666.0,57556.170,83755.440,-26199.270,1.455195,...,57556.170,41877.72000,83755.440,83755.440,83755.440,83755.44000,167510.880,-666.0,-666.000000,-1332.0
49991,2509814,173653,1.0,5,-633.0,-666.0,26199.270,83755.440,-57556.170,3.196862,...,57556.170,41877.72000,83755.440,83755.440,83755.440,83755.44000,167510.880,-666.0,-666.000000,-1332.0
49992,2741174,193000,1.0,5,-445.0,-452.0,21518.235,21518.235,0.000,1.000000,...,21518.235,21518.23500,21518.235,21518.235,21518.235,21518.23500,21518.235,-452.0,-452.000000,-452.0
49993,1596046,167761,0.0,41,-944.0,-962.0,9000.000,9000.000,0.000,1.000000,...,13279.455,10426.48500,31279.455,9000.000,13279.455,10426.48500,31279.455,-158.0,-1078.000000,-3234.0
49994,1948584,187625,2.0,35,-1676.0,-1704.0,5487.885,5487.885,0.000,1.000000,...,5487.885,5487.88500,5487.885,5487.885,5487.885,5487.88500,5487.885,-1704.0,-1704.000000,-1704.0
49995,2205073,175366,0.0,10,-88.0,-88.0,1300.860,1300.860,0.000,1.000000,...,1300.860,1300.86000,1300.860,1300.860,1300.860,1300.86000,1300.860,-88.0,-88.000000,-88.0
49996,1846692,121073,1.0,4,-766.0,-766.0,18031.185,18031.185,0.000,1.000000,...,18031.185,18031.18500,18031.185,18031.185,18031.185,18031.18500,18031.185,-766.0,-766.000000,-766.0
49997,2273934,157273,1.0,9,-59.0,-79.0,6594.030,6594.030,0.000,1.000000,...,6594.030,6594.03000,6594.030,6594.030,6594.030,6594.03000,6594.030,-79.0,-79.000000,-79.0
49998,1364883,110917,0.0,150,-704.0,-713.0,16200.000,16200.000,0.000,1.000000,...,16200.000,16200.00000,32400.000,16200.000,16200.000,16200.00000,32400.000,-713.0,-1107.000000,-2214.0
49999,2822150,171608,1.0,10,-2263.0,-2269.0,4198.950,4198.950,0.000,1.000000,...,4198.950,4198.95000,4198.950,4198.950,4198.950,4198.95000,4198.950,-2269.0,-2269.000000,-2269.0

In [108]:
previous_application['DAYS_FIRST_DRAWING'].replace(365243, np.nan, inplace= True)
previous_application['DAYS_FIRST_DUE'].replace(365243, np.nan, inplace= True)
previous_application['DAYS_LAST_DUE_1ST_VERSION'].replace(365243, np.nan, inplace= True)
previous_application['DAYS_LAST_DUE'].replace(365243, np.nan, inplace= True)
previous_application['DAYS_TERMINATION'].replace(365243, np.nan, inplace= True)

#previous_application[previous_application['AMT_DOWN_PAYMENT'] < 0] = 0
previous_application['INTEREST_PERC'] = (previous_application['RATE_INTEREST_PRIMARY']/100)*previous_application['AMT_DOWN_PAYMENT']
previous_application['INTEREST_ANN_PERC'] = (previous_application['RATE_INTEREST_PRIMARY']/100)*previous_application['AMT_ANNUITY']
previous_application['INTEREST_CREDIT_PERC'] = (previous_application['RATE_INTEREST_PRIMARY']/100)*previous_application['AMT_CREDIT']
previous_application['FIRST_LAST'] = previous_application['DAYS_FIRST_DUE'] - previous_application['DAYS_LAST_DUE']

In [109]:
previous_application['APPLICATION_ACTUAL_CREDIT'] = previous_application['AMT_APPLICATION']/previous_application['AMT_CREDIT']

In [110]:
num_aggregations = {
        'AMT_ANNUITY': ['min', 'max', 'mean'],
        'AMT_APPLICATION': ['min', 'max', 'mean'],
        'AMT_CREDIT': ['min', 'max', 'mean'],
        'INTEREST_CREDIT_PERC': ['min', 'max', 'mean', 'var'],
        'AMT_DOWN_PAYMENT': ['min', 'max', 'mean'],
        'AMT_GOODS_PRICE': ['min', 'max', 'mean'],
        'HOUR_APPR_PROCESS_START': ['min', 'max', 'mean'],
        'RATE_DOWN_PAYMENT': ['min', 'max', 'mean'],
        'DAYS_DECISION': ['min', 'max', 'mean'],
        'CNT_PAYMENT': ['mean', 'sum'],
        'FIRST_LAST': ['mean', 'max', 'min']
    }

prev_agg = previous_application.groupby('SK_ID_CURR').agg(num_aggregations)
prev_agg.columns = pd.Index(['PREV_' + e[0] + "_" + e[1].upper() for e in prev_agg.columns.tolist()])
prev_agg.reset_index(inplace=True)
previous_application = previous_application.merge(prev_agg, on = 'SK_ID_CURR', how = 'left')
del prev_agg

In [111]:
previous_application

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,PREV_RATE_DOWN_PAYMENT_MAX,PREV_RATE_DOWN_PAYMENT_MEAN,PREV_DAYS_DECISION_MIN,PREV_DAYS_DECISION_MAX,PREV_DAYS_DECISION_MEAN,PREV_CNT_PAYMENT_MEAN,PREV_CNT_PAYMENT_SUM,PREV_FIRST_LAST_MEAN,PREV_FIRST_LAST_MAX,PREV_FIRST_LAST_MIN
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,0.000000,0.000000,-73,-73,-73.000000,12.0,12.0,0.0,0.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,NaN,NaN,-164,-164,-164.000000,36.0,36.0,NaN,NaN,NaN
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,NaN,NaN,-301,-301,-301.000000,12.0,12.0,NaN,NaN,NaN
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,NaN,NaN,-512,-512,-512.000000,12.0,12.0,-300.0,-300.0,-300.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,NaN,NaN,-781,-781,-781.000000,24.0,24.0,NaN,NaN,NaN
5,1383531,199383,Cash loans,23703.930,315000.0,340573.5,NaN,315000.0,SATURDAY,8,...,NaN,NaN,-684,-684,-684.000000,18.0,18.0,-510.0,-510.0,-510.0
6,2315218,175704,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,11,...,NaN,NaN,-14,-14,-14.000000,NaN,0.0,NaN,NaN,NaN
7,1656711,296299,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,7,...,NaN,NaN,-21,-21,-21.000000,NaN,0.0,NaN,NaN,NaN
8,2367563,342292,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,15,...,NaN,NaN,-386,-325,-355.500000,NaN,0.0,NaN,NaN,NaN
9,2579447,334349,Cash loans,NaN,0.0,0.0,NaN,NaN,SATURDAY,15,...,NaN,NaN,-57,-57,-57.000000,NaN,0.0,NaN,NaN,NaN
10,1715995,447712,Cash loans,11368.620,270000.0,335754.0,NaN,270000.0,FRIDAY,7,...,NaN,NaN,-735,-735,-735.000000,54.0,54.0,-360.0,-360.0,-360.0
11,2257824,161140,Cash loans,13832.775,211500.0,246397.5,NaN,211500.0,FRIDAY,10,...,NaN,NaN,-815,-815,-815.000000,30.0,30.0,-60.0,-60.0,-60.0
12,2330894,258628,Cash loans,12165.210,148500.0,174361.5,NaN,148500.0,TUESDAY,15,...,NaN,NaN,-860,-860,-860.000000,24.0,24.0,-630.0,-630.0,-630.0
13,1397919,321676,Consumer loans,7654.860,53779.5,57564.0,0.0,53779.5,SUNDAY,15,...,0.000000,0.000000,-408,-408,-408.000000,8.0,8.0,-210.0,-210.0,-210.0
14,2273188,270658,Consumer loans,9644.220,26550.0,27252.0,0.0,26550.0,SATURDAY,10,...,0.000000,0.000000,-726,-726,-726.000000,3.0,3.0,-60.0,-60.0,-60.0
15,1232483,151612,Consumer loans,21307.455,126490.5,119853.0,12649.5,126490.5,TUESDAY,7,...,0.103971,0.103971,-699,-699,-699.000000,6.0,6.0,-150.0,-150.0,-150.0
16,2163253,154602,Consumer loans,4187.340,26955.0,27297.0,1350.0,26955.0,SATURDAY,12,...,0.051324,0.051324,-1473,-1473,-1473.000000,8.0,8.0,-210.0,-210.0,-210.0
17,1285768,142748,Revolving loans,9000.000,180000.0,180000.0,NaN,180000.0,FRIDAY,13,...,NaN,NaN,-336,-336,-336.000000,0.0,0.0,NaN,NaN,NaN
18,2393109,396305,Cash loans,10181.700,180000.0,180000.0,NaN,180000.0,THURSDAY,14,...,NaN,NaN,-700,-700,-700.000000,24.0,24.0,NaN,NaN,NaN
19,1173070,199178,Cash loans,4666.500,45000.0,49455.0,NaN,45000.0,SATURDAY,16,...,NaN,NaN,-584,-584,-584.000000,18.0,18.0,NaN,NaN,NaN
20,1506815,166490,Cash loans,25454.025,450000.0,491580.0,NaN,450000.0,MONDAY,6,...,NaN,NaN,-401,-401,-401.000000,24.0,24.0,NaN,NaN,NaN
21,1182516,267782,Cash loans,20361.600,405000.0,451777.5,NaN,405000.0,SATURDAY,4,...,NaN,NaN,-686,-686,-686.000000,30.0,30.0,NaN,NaN,NaN
22,1172842,302212,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,9,...,NaN,NaN,-594,-239,-416.500000,54.0,54.0,NaN,NaN,NaN
23,1172937,302212,Cash loans,39475.305,1129500.0,1277104.5,NaN,1129500.0,THURSDAY,5,...,NaN,NaN,-594,-239,-416.500000,54.0,54.0,NaN,NaN,NaN
24,1555330,199353,Cash loans,NaN,0.0,0.0,NaN,NaN,SATURDAY,6,...,NaN,NaN,-202,-202,-202.000000,NaN,0.0,NaN,NaN,NaN
25,1543131,275707,Cash loans,22619.520,229500.0,241920.0,NaN,229500.0,THURSDAY,8,...,NaN,NaN,-370,-370,-370.000000,12.0,12.0,-330.0,-330.0,-330.0
26,2536650,338725,Cash loans,16708.320,369000.0,369000.0,NaN,369000.0,WEDNESDAY,13,...,NaN,NaN,-1487,-1487,-1487.000000,48.0,48.0,-1410.0,-1410.0,-1410.0
27,1676258,433469,Cash loans,22242.825,247500.0,268083.0,0.0,247500.0,THURSDAY,14,...,0.000000,0.000000,-1883,-1883,-1883.000000,18.0,18.0,-510.0,-510.0,-510.0
28,2075578,418383,Consumer loans,7656.705,74610.0,65610.0,9000.0,74610.0,MONDAY,14,...,0.131374,0.131374,-2702,-2702,-2702.000000,12.0,12.0,-330.0,-330.0,-330.0
29,1583704,315664,Cash loans,NaN,0.0,0.0,NaN,NaN,WEDNESDAY,15,...,NaN,NaN,-430,-430,-430.000000,NaN,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2655591,373306,Revolving loans,NaN,0.0,0.0,NaN,NaN,MONDAY,13,...,NaN,NaN,-375,-375,-375.000000,NaN,0.0,NaN,NaN,NaN
49971,1200969,430167,Revolving loans,16875.000,0.0,337500.0,NaN,NaN,TUESDAY,11,...,NaN,NaN,-910,-910,-910.000000,0.0,0.0,NaN,NaN,NaN
49972,1619373,216980,Consumer loans,3782.385,19953.0,18846.0,1998.0,19953.0,SATURDAY,17,...,0.104395,0.104395,-2874,-2874,-2874.000000,6.0,6.0,-150.0,-150.0,-150.0
49973,2716426,203123,Consumer loans,4219.155,20430.0,23881.5,0.0,20430.0,FRIDAY,13,...,0.000000,0.000000,-1147,-1147,-1147.000000,6.0,6.0,-150.0,-150.0,-150.0
49974,2333686,104922,Consumer loans,11110.815,56835.0,53851.5,5683.5,56835.0,MONDAY,12,...,0.103970,0.103970,-1065,-1065,-1065.000000,6.0,6.0,-150.0,-150.0,-150.0
49975,1223272,237308,Consumer loans,5801.715,80055.0,48555.0,31500.0,80055.0,WEDNESDAY,11,...,0.428535,0.428535,-1316,-1316,-1316.000000,10.0,10.0,-90.0,-90.0,-90.0
49976,1705455,454094,Consumer loans,4149.900,34582.5,34582.5,0.0,34582.5,TUESDAY,11,...,0.000000,0.000000,-286,-286,-286.000000,10.0,10.0,-180.0,-180.0,-180.0
49977,2087280,265946,Consumer loans,16288.425,101790.0,91611.0,10179.0,101790.0,SATURDAY,11,...,0.108909,0.108909,-794,-269,-531.500000,6.0,6.0,-120.0,-120.0,-120.0
49978,1143479,109806,Consumer loans,17939.205,194427.0,174982.5,19444.5,194427.0,TUESDAY,13,...,0.108919,0.108919,-576,-576,-576.000000,12.0,12.0,-90.0,-90.0,-90.0
49979,2434394,240338,Revolving loans,NaN,0.0,0.0,NaN,NaN,MONDAY,11,...,NaN,NaN,-304,-304,-304.000000,NaN,0.0,NaN,NaN,NaN
49980,2750442,337965,Cash loans,NaN,0.0,0.0,NaN,NaN,WEDNESDAY,16,...,0.000000,0.000000,-219,-163,-191.000000,24.0,24.0,NaN,NaN,NaN
49981,1658233,111172,Cash loans,22980.600,360000.0,398016.0,NaN,360000.0,WEDNESDAY,12,...,NaN,NaN,-235,-235,-235.000000,24.0,24.0,NaN,NaN,NaN
49982,1879747,271420,Cash loans,18772.425,337500.0,399870.0,NaN,337500.0,SATURDAY,12,...,NaN,NaN,-181,-181,-181.000000,48.0,48.0,NaN,NaN,NaN
49983,1434784,424744,Consumer loans,9722.295,46800.0,36958.5,11250.0,46800.0,MONDAY,18,...,0.254152,0.254152,-142,-142,-142.000000,4.0,4.0,-90.0,-90.0,-90.0
49984,2263868,444393,Consumer loans,43195.185,431995.5,388795.5,43200.0,431995.5,SUNDAY,16,...,0.108913,0.108911,-1549,-1227,-1334.333333,10.0,30.0,-120.0,-120.0,-120.0
49985,2769545,300789,Cash loans,7412.895,63000.0,67158.0,NaN,63000.0,SATURDAY,18,...,NaN,NaN,-766,-766,-766.000000,12.0,12.0,-330.0,-330.0,-330.0
49986,2421877,422139,Consumer loans,9208.935,151209.0,160155.0,15124.5,151209.0,SATURDAY,12,...,0.093975,0.093975,-2292,-2292,-2292.000000,24.0,24.0,-420.0,-420.0,-420.0
49987,1548737,391536,Consumer loans,21416.850,214191.0,192771.0,21420.0,214191.0,SATURDAY,17,...,0.108914,0.108914,-2605,-2605,-2605.000000,10.0,10.0,NaN,NaN,NaN
49988,1321058,224770,Consumer loans,5485.275,28210.5,26896.5,2821.5,28210.5,FRIDAY,8,...,0.103401,0.103401,-276,-276,-276.000000,6.0,6.0,-150.0,-150.0,-150.0
49989,2721491,292308,Consumer loans,3959.100,36576.0,35635.5,3658.5,36576.0,THURSDAY,15,...,0.101401,0.101401,-2905,-2905,-2905.000000,10.0,10.0,-270.0,-270.0,-270.0
49990,1300444,197725,Cash loans,32242.500,1125000.0,1125000.0,NaN,1125000.0,MONDAY,8,...,NaN,NaN,-660,-660,-660.000000,60.0,60.0,NaN,NaN,NaN
49991,2768824,250283,Cash loans,36111.600,1260000.0,1260000.0,NaN,1260000.0,WEDNESDAY,5,...,NaN,NaN,-704,-704,-704.000000,60.0,60.0,NaN,NaN,NaN
49992,2595549,432416,Consumer loans,3951.225,87612.3,87610.5,1.8,87612.3,WEDNESDAY,19,...,0.000022,0.000022,-1171,-1171,-1171.000000,24.0,24.0,-600.0,-600.0,-600.0
49993,1459836,281204,Revolving loans,18000.000,360000.0,360000.0,NaN,360000.0,FRIDAY,15,...,NaN,NaN,-680,-680,-680.000000,6.0,12.0,-330.0,-330.0,-330.0
49994,1171956,339569,Cash loans,NaN,0.0,0.0,NaN,NaN,THURSDAY,11,...,NaN,NaN,-195,-24,-109.500000,NaN,0.0,NaN,NaN,NaN
49995,1904808,363980,Cash loans,NaN,0.0,0.0,NaN,NaN,FRIDAY,10,...,NaN,NaN,-425,-425,-425.000000,NaN,0.0,NaN,NaN,NaN
49996,2331005,231295,Cash loans,22176.405,180000.0,216418.5,NaN,180000.0,TUESDAY,12,...,0.341408,0.341408,-2502,-700,-1601.000000,9.0,18.0,-210.0,-90.0,-330.0
49997,1960897,346691,Cash loans,NaN,0.0,0.0,NaN,NaN,WEDNESDAY,16,...,NaN,NaN,-13,-13,-13.000000,NaN,0.0,NaN,NaN,NaN
49998,1979352,363244,Cash loans,24909.390,360000.0,409896.0,NaN,360000.0,FRIDAY,18,...,NaN,NaN,-441,-441,-441.000000,36.0,36.0,NaN,NaN,NaN
49999,2389772,341727,Consumer loans,13600.755,134955.0,134955.0,0.0,134955.0,SUNDAY,11,...,0.000000,0.000000,-261,-108,-184.500000,18.0,36.0,NaN,NaN,NaN

In [112]:
approved = previous_application[previous_application['NAME_CONTRACT_STATUS'] == 'Approved']

In [113]:
approved_agg = approved.groupby('SK_ID_CURR').agg(num_aggregations)

In [114]:
approved_agg

           AMT_ANNUITY                       AMT_APPLICATION             \
                   min        max       mean             min        max
SK_ID_CURR
100007       16509.600  16509.600  16509.600        180000.0   180000.0
100009        8996.760   8996.760   8996.760         98239.5    98239.5
100012        3012.075   3012.075   3012.075         18720.0    18720.0
100026       23608.485  23608.485  23608.485        132345.0   132345.0
100043        5287.815   5287.815   5287.815         35775.0    35775.0
100065       18150.705  18150.705  18150.705        117180.0   117180.0
100077        2250.000   2250.000   2250.000         45000.0    45000.0
100090       16681.950  16681.950  16681.950        472500.0   472500.0
100121        3551.850   3551.850   3551.850         18441.0    18441.0
100124        7598.340   7598.340   7598.340         62491.5    62491.5
100144       10698.075  10698.075  10698.075        157500.0   157500.0
100151        6535.800   6535.800   6535.800         45000.0    45000.0
100187       20797.560  20797.560  20797.560        206982.0   206982.0
100190       13236.255  13236.255  13236.255        112500.0   112500.0
100194        7861.950   7861.950   7861.950         74092.5    74092.5
100201        3828.555   3828.555   3828.555         38610.0    38610.0
100212       10747.890  10747.890  10747.890         58455.0    58455.0
100220       20966.400  20966.400  20966.400        108513.0   108513.0
100224        8035.110   8035.110   8035.110         61150.5    61150.5
100226       13315.905  13315.905  13315.905         95395.5    95395.5
100243       28614.735  28614.735  28614.735        337500.0   337500.0
100258       16893.585  16893.585  16893.585        166689.0   166689.0
100271       48698.595  48698.595  48698.595       1129500.0  1129500.0
100281       19021.005  19021.005  19021.005        360000.0   360000.0
100291        7780.410   7780.410   7780.410         49500.0    49500.0
100293        6750.000   6750.000   6750.000        135000.0   135000.0
100297       21271.185  21271.185  21271.185        111195.0   111195.0
100324       15654.645  15654.645  15654.645        234000.0   234000.0
100347       18821.520  18821.520  18821.520        180000.0   180000.0
100360       14352.930  14352.930  14352.930        225000.0   225000.0
...                ...        ...        ...             ...        ...
455988        5552.550   5552.550   5552.550         51597.0    51597.0
456001        2873.700   2873.700   2873.700         26550.0    26550.0
456021        8064.495   8064.495   8064.495         99877.5    99877.5
456026        6714.540   6714.540   6714.540         35100.0    35100.0
456033       74575.215  74575.215  74575.215       1260000.0  1260000.0
456038       41422.500  41422.500  41422.500        405000.0   405000.0
456041       11866.320  11866.320  11866.320         98955.0    98955.0
456043        4182.840   4182.840   4182.840         34155.0    34155.0
456048        7946.505   7946.505   7946.505         81652.5    81652.5
456059       10492.020  10492.020  10492.020         90000.0    90000.0
456062       21019.050  21019.050  21019.050        187650.0   187650.0
456074       79817.400  79817.400  79817.400       1579500.0  1579500.0
456089       31064.715  31064.715  31064.715        324000.0   324000.0
456093        4934.295   4934.295   4934.295         42750.0    42750.0
456095       23092.875  23092.875  23092.875        450000.0   450000.0
456109        9511.515   9511.515   9511.515         80955.0    80955.0
456139       11890.395  11890.395  11890.395        108000.0   108000.0
456149        8820.990   8820.990   8820.990         43047.0    43047.0
456150        3073.095   3073.095   3073.095         22995.0    22995.0
456171        4131.495   4131.495   4131.495         39348.0    39348.0
456181       10928.610  10928.610  10928.610         92970.0    92970.0
456194       12040.290  12040.290  12040.290        120415.5   120415.5
456205        6063.165   6063.165   6063.165         72045.0    72045.0
456208       10334.475  10334.475  10334.475        101250.0   101250.0
456210        9918.810   9918.810   9918.810         69525.0    69525.0
456220        5618.790   5618.790   5618.790         38911.5    38911.5
456225       13297.365  13297.365  13297.365        270000.0   270000.0
456230       21129.255  21129.255  21129.255        123070.5   123070.5
456244       22500.000  22500.000  22500.000             0.0        0.0
456254       19065.825  19065.825  19065.825        223789.5   223789.5

                      AMT_CREDIT                       INTEREST_CREDIT_PERC  \
                 mean        min        max       mean                  min
SK_ID_CURR
100007       180000.0   180000.0   180000.0   180000.0                  NaN
100009        98239.5    98239.5    98239.5    98239.5                  NaN
100012        18720.0    23697.0    23697.0    23697.0                  NaN
100026       132345.0   132345.0   132345.0   132345.0                  NaN
100043        35775.0    33340.5    33340.5    33340.5                  NaN
100065       117180.0    82026.0    82026.0    82026.0                  NaN
100077        45000.0    45000.0    45000.0    45000.0                  NaN
100090       472500.0   566055.0   566055.0   566055.0                  NaN
100121        18441.0    17419.5    17419.5    17419.5                  NaN
100124        62491.5    62491.5    62491.5    62491.5                  NaN
100144       157500.0   157500.0   157500.0   157500.0                  NaN
100151        45000.0    55075.5    55075.5    55075.5                  NaN
100187       206982.0   206982.0   206982.0   206982.0                  NaN
100190       112500.0   119925.0   119925.0   119925.0                  NaN
100194        74092.5    74092.5    74092.5    74092.5                  NaN
100201        38610.0    29610.0    29610.0    29610.0                  NaN
100212        58455.0    58626.0    58626.0    58626.0                  NaN
100220       108513.0   113886.0   113886.0   113886.0                  NaN
100224        61150.5    69223.5    69223.5    69223.5                  NaN
100226        95395.5    72009.0    72009.0    72009.0                  NaN
100243       337500.0   422982.0   422982.0   422982.0                  NaN
100258       166689.0   180990.0   180990.0   180990.0                  NaN
100271      1129500.0  1227901.5  1227901.5  1227901.5                  NaN
100281       360000.0   420912.0   420912.0   420912.0                  NaN
100291        49500.0    41562.0    41562.0    41562.0                  NaN
100293       135000.0   135000.0   135000.0   135000.0                  NaN
100297       111195.0   117067.5   117067.5   117067.5                  NaN
100324       234000.0   293818.5   293818.5   293818.5                  NaN
100347       180000.0   191880.0   191880.0   191880.0                  NaN
100360       225000.0   254700.0   254700.0   254700.0                  NaN
...               ...        ...        ...        ...                  ...
455988        51597.0    51034.5    51034.5    51034.5                  NaN
456001        26550.0    25866.0    25866.0    25866.0                  NaN
456021        99877.5    79902.0    79902.0    79902.0           151.123725
456026        35100.0    36954.0    36954.0    36954.0                  NaN
456033      1260000.0  1333179.0  1333179.0  1333179.0                  NaN
456038       405000.0   225000.0   225000.0   225000.0                  NaN
456041        98955.0    99837.0    99837.0    99837.0                  NaN
456043        34155.0    21505.5    21505.5    21505.5                  NaN
456048        81652.5    90589.5    90589.5    90589.5                  NaN
456059        90000.0    95940.0    95940.0    95940.0                  NaN
456062       187650.0   203751.0   203751.0   203751.0                  NaN
456074      1579500.0  1673320.5  1673320.5  1673320.5                  NaN
456089       324000.0   401094.0   401094.0   401094.0                  NaN
456093        42750.0    42282.0    42282.0    42282.0                  NaN
456095       450000.0   521280.0   521280.0   521280.0                  NaN
456109        80955.0    84024.0    84024.0    84024.0                  NaN
456139       108000.0   105754.5   105754.5   105754.5                  NaN
456149        43047.0    45319.5    45319.5    45319.5                  NaN
456150        22995.0    25272.0    25272.0    25272.0                  NaN
456171        39348.0    39150.0    39150.0    39150.0                  NaN
456181        92970.0    92970.0    92970.0    92970.0                  NaN
456194       120415.5   108373.5   108373.5   108373.5                  NaN
456205        72045.0    31761.0    31761.0    31761.0                  NaN
456208       101250.0   101250.0   101250.0   101250.0                  NaN
456210        69525.0    66703.5    66703.5    66703.5                  NaN
456220        38911.5    42120.0    42120.0    42120.0                  NaN
456225       270000.0   313839.0   313839.0   313839.0                  NaN
456230       123070.5   108522.0   108522.0   108522.0                  NaN
456244            0.0   450000.0   450000.0   450000.0                  NaN
456254       223789.5   247423.5   247423.5   247423.5                  NaN

             ...   RATE_DOWN_PAYMENT           DAYS_DECISION                \
             ...                 max      mean           min   max    mean
SK_ID_CURR   ...
100007       ...                 NaN       NaN          -865  -865  -865.0
100009       ...            0.000000  0.000000          -449  -449  -449.0
100012       ...            0.000000  0.000000         -1673 -1673 -1673.0
100026       ...            0.000000  0.000000         -1427 -1427 -1427.0
100043       ...            0.129515  0.129515         -2411 -2411 -2411.0
100065       ...            0.326727  0.326727         -1182 -1182 -1182.0
100077       ...                 NaN       NaN          -217  -217  -217.0
100090       ...                 NaN       NaN          -232  -232  -232.0
100121       ...            0.104304  0.104304         -1987 -1987 -1987.0
100124       ...            0.000000  0.000000          -312  -312  -312.0
100144       ...                 NaN       NaN          -100  -100  -100.0
100151       ...                 NaN       NaN         -1041 -1041 -1041.0
100187       ...            0.000000  0.000000         -1452 -1452 -1452.0
100190       ...            0.000000  0.000000         -1998 -1998 -1998.0
100194       ...            0.000000  0.000000          -292  -292  -292.0
100201       ...            0.253867  0.253867         -2424 -2424 -2424.0
100212       ...            0.098746  0.098746          -707  -707  -707.0
100220       ...            0.000000  0.000000         -2413 -2413 -2413.0
100224       ...            0.000000  0.000000           -51   -51   -51.0
100226       ...            0.296998  0.296998          -142  -142  -142.0
100243       ...                 NaN       NaN          -460  -460  -460.0
100258       ...            0.000000  0.000000          -364  -364  -364.0
100271       ...                 NaN       NaN          -950  -950  -950.0
100281       ...                 NaN       NaN          -969  -969  -969.0
100291       ...            0.209514  0.209514         -1949 -1949 -1949.0
100293       ...                 NaN       NaN          -229  -229  -229.0
100297       ...            0.000000  0.000000         -1002 -1002 -1002.0
100324       ...                 NaN       NaN          -338  -338  -338.0
100347       ...                 NaN       NaN         -1164 -1164 -1164.0
100360       ...                 NaN       NaN          -101  -101  -101.0
...          ...                 ...       ...           ...   ...     ...
455988       ...            0.100031  0.100031         -1815 -1815 -1815.0
456001       ...            0.101383  0.101383         -2357 -2357 -2357.0
456021       ...            0.217818  0.217818          -203  -203  -203.0
456026       ...            0.000000  0.000000          -949  -949  -949.0
456033       ...                 NaN       NaN          -534  -534  -534.0
456038       ...            0.484040  0.484040         -1451 -1451 -1451.0
456041       ...            0.098212  0.098212          -255  -255  -255.0
456043       ...            0.423094  0.423094         -2707 -2707 -2707.0
456048       ...            0.000000  0.000000          -355  -355  -355.0
456059       ...            0.000000  0.000000         -2374 -2374 -2374.0
456062       ...            0.000000  0.000000          -230  -230  -230.0
456074       ...                 NaN       NaN          -538  -538  -538.0
456089       ...                 NaN       NaN          -660  -660  -660.0
456093       ...            0.100004  0.100004         -2585 -2585 -2585.0
456095       ...                 NaN       NaN           -60   -60   -60.0
456109       ...            0.055362  0.055362         -1922 -1922 -1922.0
456139       ...            0.100916  0.100916         -1080 -1080 -1080.0
456149       ...            0.000000  0.000000          -955  -955  -955.0
456150       ...            0.000000  0.000000         -2111 -2111 -2111.0
456171       ...            0.099525  0.099525          -390  -390  -390.0
456181       ...            0.000000  0.000000          -302  -302  -302.0
456194       ...            0.108913  0.108913         -2615 -2615 -2615.0
456205       ...            0.638463  0.638463         -1616 -1616 -1616.0
456208       ...            0.000000  0.000000          -141  -141  -141.0
456210       ...            0.102801  0.102801         -1230 -1230 -1230.0
456220       ...            0.000000  0.000000         -2313 -2313 -2313.0
456225       ...                 NaN       NaN         -1096 -1096 -1096.0
456230       ...            0.167076  0.167076         -2250 -2250 -2250.0
456244       ...                 NaN       NaN         -1264 -1264 -1264.0
456254       ...            0.000000  0.000000          -277  -277  -277.0

           CNT_PAYMENT       FIRST_LAST
                  mean   sum       mean     max     min
SK_ID_CURR
100007            18.0  18.0     -480.0  -480.0  -480.0
100009            12.0  12.0     -330.0  -330.0  -330.0
100012            12.0  12.0     -240.0  -240.0  -240.0
100026             6.0   6.0     -150.0  -150.0  -150.0
100043             8.0   8.0     -210.0  -210.0  -210.0
100065             5.0   5.0     -120.0  -120.0  -120.0
100077             0.0   0.0        NaN     NaN     NaN
100090            60.0  60.0        NaN     NaN     NaN
100121             6.0   6.0     -150.0  -150.0  -150.0
100124            12.0  12.0     -180.0  -180.0  -180.0
100144            18.0  18.0        NaN     NaN     NaN
100151            12.0  12.0     -330.0  -330.0  -330.0
100187            12.0  12.0     -330.0  -330.0  -330.0
100190            12.0  12.0     -330.0  -330.0  -330.0
100194            12.0  12.0        NaN     NaN     NaN
100201            10.0  10.0     -270.0  -270.0  -270.0
100212             6.0   6.0     -150.0  -150.0  -150.0
100220             6.0   6.0      -90.0   -90.0   -90.0
100224            10.0  10.0        NaN     NaN     NaN
100226             6.0   6.0        NaN     NaN     NaN
100243            36.0  36.0     -360.0  -360.0  -360.0
100258            12.0  12.0     -300.0  -300.0  -300.0
100271            36.0  36.0     -300.0  -300.0  -300.0
100281            36.0  36.0     -600.0  -600.0  -600.0
100291             6.0   6.0     -150.0  -150.0  -150.0
100293             0.0   0.0        NaN     NaN     NaN
100297             6.0   6.0     -150.0  -150.0  -150.0
100324            24.0  24.0        NaN     NaN     NaN
100347            12.0  12.0     -330.0  -330.0  -330.0
100360            24.0  24.0        NaN     NaN     NaN
...                ...   ...        ...     ...     ...
455988            12.0  12.0     -330.0  -330.0  -330.0
456001            10.0  10.0     -270.0  -270.0  -270.0
456021            12.0  12.0      -60.0   -60.0   -60.0
456026             6.0   6.0     -150.0  -150.0  -150.0
456033            24.0  24.0     -330.0  -330.0  -330.0
456038             6.0   6.0      -90.0   -90.0   -90.0
456041            10.0  10.0     -120.0  -120.0  -120.0
456043             6.0   6.0     -150.0  -150.0  -150.0
456048            12.0  12.0     -300.0  -300.0  -300.0
456059            12.0  12.0     -330.0  -330.0  -330.0
456062            12.0  12.0        NaN     NaN     NaN
456074            30.0  30.0        NaN     NaN     NaN
456089            18.0  18.0     -510.0  -510.0  -510.0
456093            12.0  12.0     -330.0  -330.0  -330.0
456095            36.0  36.0        NaN     NaN     NaN
456109            12.0  12.0     -330.0  -330.0  -330.0
456139            10.0  10.0     -270.0  -270.0  -270.0
456149             6.0   6.0     -150.0  -150.0  -150.0
456150            12.0  12.0     -330.0  -330.0  -330.0
456171            12.0  12.0     -300.0  -300.0  -300.0
456181            10.0  10.0        NaN     NaN     NaN
456194            10.0  10.0        NaN     NaN     NaN
456205             6.0   6.0     -120.0  -120.0  -120.0
456208            12.0  12.0        NaN     NaN     NaN
456210             8.0   8.0     -210.0  -210.0  -210.0
456220            10.0  10.0     -270.0  -270.0  -270.0
456225            36.0  36.0    -1050.0 -1050.0 -1050.0
456230             6.0   6.0     -150.0  -150.0  -150.0
456244             0.0   0.0     -488.0  -488.0  -488.0
456254            16.0  16.0        NaN     NaN     NaN

[30237 rows x 33 columns]

In [115]:
approved_agg.columns = pd.Index(['APPROVED_' + e[0] + "_" + e[1].upper() for e in approved_agg.columns.tolist()])

In [116]:
approved_agg.reset_index(inplace=True)

In [117]:
previous_application = previous_application.merge(approved_agg, how='left', on='SK_ID_CURR')

In [118]:
previous_application.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,APPROVED_RATE_DOWN_PAYMENT_MAX,APPROVED_RATE_DOWN_PAYMENT_MEAN,APPROVED_DAYS_DECISION_MIN,APPROVED_DAYS_DECISION_MAX,APPROVED_DAYS_DECISION_MEAN,APPROVED_CNT_PAYMENT_MEAN,APPROVED_CNT_PAYMENT_SUM,APPROVED_FIRST_LAST_MEAN,APPROVED_FIRST_LAST_MAX,APPROVED_FIRST_LAST_MIN
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,0.0,0.0,-73.0,-73.0,-73.0,12.0,12.0,0.0,0.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,NaN,NaN,-164.0,-164.0,-164.0,36.0,36.0,NaN,NaN,NaN
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,NaN,NaN,-301.0,-301.0,-301.0,12.0,12.0,NaN,NaN,NaN
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,NaN,NaN,-512.0,-512.0,-512.0,12.0,12.0,-300.0,-300.0,-300.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
refused = previous_application[previous_application['NAME_CONTRACT_STATUS'] == 'Refused']
refused_agg = refused.groupby('SK_ID_CURR').agg(num_aggregations)
refused_agg.columns = pd.Index(['REFUSED_' + e[0] + "_" + e[1].upper() for e in refused_agg.columns.tolist()])
refused_agg.reset_index(inplace=True)
previous_application = previous_application.merge(refused_agg, how='left', on='SK_ID_CURR')

In [120]:
previous_application

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,REFUSED_RATE_DOWN_PAYMENT_MAX,REFUSED_RATE_DOWN_PAYMENT_MEAN,REFUSED_DAYS_DECISION_MIN,REFUSED_DAYS_DECISION_MAX,REFUSED_DAYS_DECISION_MEAN,REFUSED_CNT_PAYMENT_MEAN,REFUSED_CNT_PAYMENT_SUM,REFUSED_FIRST_LAST_MEAN,REFUSED_FIRST_LAST_MAX,REFUSED_FIRST_LAST_MIN
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,NaN,NaN,-781.0,-781.0,-781.0,24.0,24.0,NaN,NaN,NaN
5,1383531,199383,Cash loans,23703.930,315000.0,340573.5,NaN,315000.0,SATURDAY,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2315218,175704,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1656711,296299,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2367563,342292,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2579447,334349,Cash loans,NaN,0.0,0.0,NaN,NaN,SATURDAY,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1715995,447712,Cash loans,11368.620,270000.0,335754.0,NaN,270000.0,FRIDAY,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2257824,161140,Cash loans,13832.775,211500.0,246397.5,NaN,211500.0,FRIDAY,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2330894,258628,Cash loans,12165.210,148500.0,174361.5,NaN,148500.0,TUESDAY,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1397919,321676,Consumer loans,7654.860,53779.5,57564.0,0.0,53779.5,SUNDAY,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2273188,270658,Consumer loans,9644.220,26550.0,27252.0,0.0,26550.0,SATURDAY,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1232483,151612,Consumer loans,21307.455,126490.5,119853.0,12649.5,126490.5,TUESDAY,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2163253,154602,Consumer loans,4187.340,26955.0,27297.0,1350.0,26955.0,SATURDAY,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1285768,142748,Revolving loans,9000.000,180000.0,180000.0,NaN,180000.0,FRIDAY,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2393109,396305,Cash loans,10181.700,180000.0,180000.0,NaN,180000.0,THURSDAY,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1173070,199178,Cash loans,4666.500,45000.0,49455.0,NaN,45000.0,SATURDAY,16,...,NaN,NaN,-584.0,-584.0,-584.0,18.0,18.0,NaN,NaN,NaN
20,1506815,166490,Cash loans,25454.025,450000.0,491580.0,NaN,450000.0,MONDAY,6,...,NaN,NaN,-401.0,-401.0,-401.0,24.0,24.0,NaN,NaN,NaN
21,1182516,267782,Cash loans,20361.600,405000.0,451777.5,NaN,405000.0,SATURDAY,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1172842,302212,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,9,...,NaN,NaN,-594.0,-239.0,-416.5,54.0,54.0,NaN,NaN,NaN
23,1172937,302212,Cash loans,39475.305,1129500.0,1277104.5,NaN,1129500.0,THURSDAY,5,...,NaN,NaN,-594.0,-239.0,-416.5,54.0,54.0,NaN,NaN,NaN
24,1555330,199353,Cash loans,NaN,0.0,0.0,NaN,NaN,SATURDAY,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1543131,275707,Cash loans,22619.520,229500.0,241920.0,NaN,229500.0,THURSDAY,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2536650,338725,Cash loans,16708.320,369000.0,369000.0,NaN,369000.0,WEDNESDAY,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1676258,433469,Cash loans,22242.825,247500.0,268083.0,0.0,247500.0,THURSDAY,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2075578,418383,Consumer loans,7656.705,74610.0,65610.0,9000.0,74610.0,MONDAY,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1583704,315664,Cash loans,NaN,0.0,0.0,NaN,NaN,WEDNESDAY,15,...,NaN,NaN,-430.0,-430.0,-430.0,NaN,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2655591,373306,Revolving loans,NaN,0.0,0.0,NaN,NaN,MONDAY,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49971,1200969,430167,Revolving loans,16875.000,0.0,337500.0,NaN,NaN,TUESDAY,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49972,1619373,216980,Consumer loans,3782.385,19953.0,18846.0,1998.0,19953.0,SATURDAY,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49973,2716426,203123,Consumer loans,4219.155,20430.0,23881.5,0.0,20430.0,FRIDAY,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49974,2333686,104922,Consumer loans,11110.815,56835.0,53851.5,5683.5,56835.0,MONDAY,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49975,1223272,237308,Consumer loans,5801.715,80055.0,48555.0,31500.0,80055.0,WEDNESDAY,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49976,1705455,454094,Consumer loans,4149.900,34582.5,34582.5,0.0,34582.5,TUESDAY,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49977,2087280,265946,Consumer loans,16288.425,101790.0,91611.0,10179.0,101790.0,SATURDAY,11,...,NaN,NaN,-269.0,-269.0,-269.0,NaN,0.0,NaN,NaN,NaN
49978,1143479,109806,Consumer loans,17939.205,194427.0,174982.5,19444.5,194427.0,TUESDAY,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49979,2434394,240338,Revolving loans,NaN,0.0,0.0,NaN,NaN,MONDAY,11,...,NaN,NaN,-304.0,-304.0,-304.0,NaN,0.0,NaN,NaN,NaN
49980,2750442,337965,Cash loans,NaN,0.0,0.0,NaN,NaN,WEDNESDAY,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49981,1658233,111172,Cash loans,22980.600,360000.0,398016.0,NaN,360000.0,WEDNESDAY,12,...,NaN,NaN,-235.0,-235.0,-235.0,24.0,24.0,NaN,NaN,NaN
49982,1879747,271420,Cash loans,18772.425,337500.0,399870.0,NaN,337500.0,SATURDAY,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49983,1434784,424744,Consumer loans,9722.295,46800.0,36958.5,11250.0,46800.0,MONDAY,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49984,2263868,444393,Consumer loans,43195.185,431995.5,388795.5,43200.0,431995.5,SUNDAY,16,...,0.108910,0.108910,-1227.0,-1227.0,-1227.0,10.0,20.0,NaN,NaN,NaN
49985,2769545,300789,Cash loans,7412.895,63000.0,67158.0,NaN,63000.0,SATURDAY,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49986,2421877,422139,Consumer loans,9208.935,151209.0,160155.0,15124.5,151209.0,SATURDAY,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49987,1548737,391536,Consumer loans,21416.850,214191.0,192771.0,21420.0,214191.0,SATURDAY,17,...,0.108914,0.108914,-2605.0,-2605.0,-2605.0,10.0,10.0,NaN,NaN,NaN
49988,1321058,224770,Consumer loans,5485.275,28210.5,26896.5,2821.5,28210.5,FRIDAY,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49989,2721491,292308,Consumer loans,3959.100,36576.0,35635.5,3658.5,36576.0,THURSDAY,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49990,1300444,197725,Cash loans,32242.500,1125000.0,1125000.0,NaN,1125000.0,MONDAY,8,...,NaN,NaN,-660.0,-660.0,-660.0,60.0,60.0,NaN,NaN,NaN
49991,2768824,250283,Cash loans,36111.600,1260000.0,1260000.0,NaN,1260000.0,WEDNESDAY,5,...,NaN,NaN,-704.0,-704.0,-704.0,60.0,60.0,NaN,NaN,NaN
49992,2595549,432416,Consumer loans,3951.225,87612.3,87610.5,1.8,87612.3,WEDNESDAY,19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49993,1459836,281204,Revolving loans,18000.000,360000.0,360000.0,NaN,360000.0,FRIDAY,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49994,1171956,339569,Cash loans,NaN,0.0,0.0,NaN,NaN,THURSDAY,11,...,NaN,NaN,-24.0,-24.0,-24.0,NaN,0.0,NaN,NaN,NaN
49995,1904808,363980,Cash loans,NaN,0.0,0.0,NaN,NaN,FRIDAY,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49996,2331005,231295,Cash loans,22176.405,180000.0,216418.5,NaN,180000.0,TUESDAY,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49997,1960897,346691,Cash loans,NaN,0.0,0.0,NaN,NaN,WEDNESDAY,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49998,1979352,363244,Cash loans,24909.390,360000.0,409896.0,NaN,360000.0,FRIDAY,18,...,NaN,NaN,-441.0,-441.0,-441.0,36.0,36.0,NaN,NaN,NaN
49999,2389772,341727,Consumer loans,13600.755,134955.0,134955.0,0.0,134955.0,SUNDAY,11,...,0.000000,0.000000,-261.0,-108.0,-184.5,18.0,36.0,NaN,NaN,NaN

In [121]:
aggregations = {
        'MONTHS_BALANCE': ['max', 'mean', 'size'],
        'SK_DPD': ['max', 'mean'],
        'SK_DPD_DEF': ['max', 'mean']
    }

In [122]:
POS_CASH_AGG = POS_CASH_balance.groupby('SK_ID_CURR').agg(aggregations)

In [123]:
POS_CASH_AGG

           MONTHS_BALANCE                 SK_DPD      SK_DPD_DEF
                      max       mean size    max mean        max mean
SK_ID_CURR
100007                 -3  -3.000000    1      0  0.0          0  0.0
100028                -47 -47.000000    1      0  0.0          0  0.0
100046                -11 -11.000000    1      0  0.0          0  0.0
100047                -40 -40.000000    1      0  0.0          0  0.0
100061                -14 -14.000000    1      0  0.0          0  0.0
100090                 -4  -4.000000    1      0  0.0          0  0.0
100098                 -9  -9.000000    1      0  0.0          0  0.0
100105                -40 -40.000000    1      0  0.0          0  0.0
100106                 -5  -5.000000    1      0  0.0          0  0.0
100111                -33 -33.000000    1      0  0.0          0  0.0
100125                -16 -16.000000    1      0  0.0          0  0.0
100132                -12 -12.000000    1      0  0.0          0  0.0
100135                 -5  -5.000000    1      0  0.0          0  0.0
100136                -73 -73.000000    1      0  0.0          0  0.0
100139                -23 -23.000000    1      0  0.0          0  0.0
100144                -12 -12.000000    1      0  0.0          0  0.0
100145                 -3  -3.000000    1      0  0.0          0  0.0
100152                -10 -33.500000    2      0  0.0          0  0.0
100153                -72 -72.000000    1      0  0.0          0  0.0
100165                -44 -44.000000    1      0  0.0          0  0.0
100168                 -5  -5.000000    1      0  0.0          0  0.0
100169                 -4  -7.333333    3      0  0.0          0  0.0
100187                -12 -27.500000    2      0  0.0          0  0.0
100191                 -3  -7.333333    3      0  0.0          0  0.0
100210                -87 -87.000000    1      0  0.0          0  0.0
100217                -37 -37.000000    1      0  0.0          0  0.0
100223                -40 -40.000000    1      0  0.0          0  0.0
100280                -18 -18.000000    1      0  0.0          0  0.0
100284                -45 -45.000000    1      0  0.0          0  0.0
100292                -46 -49.500000    2      0  0.0          0  0.0
...                   ...        ...  ...    ...  ...        ...  ...
456001                 -6  -6.000000    1      0  0.0          0  0.0
456008                 -3  -3.000000    1      0  0.0          0  0.0
456009                 -7 -27.000000    2      0  0.0          0  0.0
456023                -16 -16.000000    1      0  0.0          0  0.0
456028                 -3  -3.000000    1      0  0.0          0  0.0
456043                -16 -19.000000    3      0  0.0          0  0.0
456067                -25 -25.000000    1      0  0.0          0  0.0
456070                -35 -37.000000    2      0  0.0          0  0.0
456088                -11 -11.000000    1      0  0.0          0  0.0
456093                 -8  -8.000000    1      0  0.0          0  0.0
456121                 -1  -1.000000    1      0  0.0          0  0.0
456125                -16 -20.000000    2      0  0.0          0  0.0
456135                -17 -17.000000    1      0  0.0          0  0.0
456139                 -4 -25.000000    2      0  0.0          0  0.0
456141                -10 -10.000000    1      0  0.0          0  0.0
456144                -25 -41.000000    2      0  0.0          0  0.0
456150                 -1  -1.000000    1      0  0.0          0  0.0
456171                 -9  -9.000000    1      0  0.0          0  0.0
456198                -17 -17.000000    1      0  0.0          0  0.0
456211                 -9  -9.000000    1      0  0.0          0  0.0
456213                -10 -10.000000    1      0  0.0          0  0.0
456217                -14 -14.000000    1      0  0.0          0  0.0
456228                -72 -72.000000    1      0  0.0          0  0.0
456231                -19 -19.000000    1      0  0.0          0  0.0
456232                -15 -15.000000    1      0  0.0          0  0.0
456241                 -3 -26.666667    3      0  0.0          0  0.0
456242                -18 -18.000000    1      0  0.0          0  0.0
456244                 -4  -4.000000    1      0  0.0          0  0.0
456245                 -6  -6.000000    1      0  0.0          0  0.0
456250                -17 -17.000000    1      0  0.0          0  0.0

[42556 rows x 7 columns]

In [124]:
POS_CASH_AGG.columns = pd.Index(['POS_CASH_' + e[0] + "_" + e[1].upper() for e in POS_CASH_AGG.columns.tolist()])

In [125]:
POS_CASH_AGG.reset_index(inplace=True)

In [126]:
POS_CASH_AGG.head()

,SK_ID_CURR,POS_CASH_MONTHS_BALANCE_MAX,POS_CASH_MONTHS_BALANCE_MEAN,POS_CASH_MONTHS_BALANCE_SIZE,POS_CASH_SK_DPD_MAX,POS_CASH_SK_DPD_MEAN,POS_CASH_SK_DPD_DEF_MAX,POS_CASH_SK_DPD_DEF_MEAN
0,100007,-3,-3.0,1,0,0.0,0,0.0
1,100028,-47,-47.0,1,0,0.0,0,0.0
2,100046,-11,-11.0,1,0,0.0,0,0.0
3,100047,-40,-40.0,1,0,0.0,0,0.0
4,100061,-14,-14.0,1,0,0.0,0,0.0

In [127]:
POS_CASH_AGG['COUNT'] = POS_CASH_AGG.groupby('SK_ID_CURR').size()

In [128]:
POS_CASH_AGG.head()

,SK_ID_CURR,POS_CASH_MONTHS_BALANCE_MAX,POS_CASH_MONTHS_BALANCE_MEAN,POS_CASH_MONTHS_BALANCE_SIZE,POS_CASH_SK_DPD_MAX,POS_CASH_SK_DPD_MEAN,POS_CASH_SK_DPD_DEF_MAX,POS_CASH_SK_DPD_DEF_MEAN,COUNT
0,100007,-3,-3.0,1,0,0.0,0,0.0,NaN
1,100028,-47,-47.0,1,0,0.0,0,0.0,NaN
2,100046,-11,-11.0,1,0,0.0,0,0.0,NaN
3,100047,-40,-40.0,1,0,0.0,0,0.0,NaN
4,100061,-14,-14.0,1,0,0.0,0,0.0,NaN

In [129]:
cat_columns = [col for col in POS_CASH_balance.columns if POS_CASH_balance[col].dtype == 'object']
POS_CASH_balance = pd.get_dummies(POS_CASH_balance,cat_columns, dummy_na = True)
POS_CASH_balance = POS_CASH_balance.merge(POS_CASH_AGG, how = 'left', on = 'SK_ID_CURR')
POS_CASH_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,SK_DPD,SK_DPD_DEF,NAME_CONTRACT_STATUS_Active,NAME_CONTRACT_STATUS_Approved,NAME_CONTRACT_STATUS_Completed,...,NAME_CONTRACT_STATUS_Signed,NAME_CONTRACT_STATUS_nan,POS_CASH_MONTHS_BALANCE_MAX,POS_CASH_MONTHS_BALANCE_MEAN,POS_CASH_MONTHS_BALANCE_SIZE,POS_CASH_SK_DPD_MAX,POS_CASH_SK_DPD_MEAN,POS_CASH_SK_DPD_DEF_MAX,POS_CASH_SK_DPD_DEF_MEAN,COUNT
0,1803195,182943,-31,48.0,45.0,0,0,1,0,0,...,0,0,-31,-31.0,1,0,0.0,0,0.0,NaN
1,1715348,367990,-33,36.0,35.0,0,0,1,0,0,...,0,0,-33,-33.0,1,0,0.0,0,0.0,NaN
2,1784872,397406,-32,12.0,9.0,0,0,1,0,0,...,0,0,-9,-20.5,2,0,0.0,0,0.0,NaN
3,1903291,269225,-35,48.0,42.0,0,0,1,0,0,...,0,0,-35,-35.0,1,0,0.0,0,0.0,NaN
4,2341044,334279,-35,36.0,35.0,0,0,1,0,0,...,0,0,-1,-18.0,2,0,0.0,0,0.0,NaN

In [130]:
POS_CASH_balance = POS_CASH_balance.groupby('SK_ID_CURR').mean().reset_index()

In [131]:
POS_CASH_balance.head()

,SK_ID_CURR,SK_ID_PREV,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,SK_DPD,SK_DPD_DEF,NAME_CONTRACT_STATUS_Active,NAME_CONTRACT_STATUS_Approved,NAME_CONTRACT_STATUS_Completed,...,NAME_CONTRACT_STATUS_Signed,NAME_CONTRACT_STATUS_nan,POS_CASH_MONTHS_BALANCE_MAX,POS_CASH_MONTHS_BALANCE_MEAN,POS_CASH_MONTHS_BALANCE_SIZE,POS_CASH_SK_DPD_MAX,POS_CASH_SK_DPD_MEAN,POS_CASH_SK_DPD_DEF_MAX,POS_CASH_SK_DPD_DEF_MEAN,COUNT
0,100007,1692033.0,-3.0,24.0,15.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,-3.0,-3.0,1.0,0.0,0.0,0.0,0.0,NaN
1,100028,2829726.0,-47.0,24.0,11.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,-47.0,-47.0,1.0,0.0,0.0,0.0,0.0,NaN
2,100046,1223113.0,-11.0,18.0,12.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,-11.0,-11.0,1.0,0.0,0.0,0.0,0.0,NaN
3,100047,2426800.0,-40.0,24.0,2.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,-40.0,-40.0,1.0,0.0,0.0,0.0,0.0,NaN
4,100061,1194857.0,-14.0,30.0,21.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,-14.0,-14.0,1.0,0.0,0.0,0.0,0.0,NaN

In [132]:
del POS_CASH_AGG, POS_CASH_balance['SK_ID_PREV']

In [133]:
y = data['TARGET']
del data['TARGET']
#One-hot encoding of categorical features in data and test sets
categorical_features = [col for col in data.columns if data[col].dtype == 'object']

one_hot_df = pd.concat([data,test])
one_hot_df = pd.get_dummies(one_hot_df, columns=categorical_features)

data = one_hot_df.iloc[:data.shape[0],:]
test = one_hot_df.iloc[data.shape[0]:,]

print(data.shape, test.shape)

(307511, 256) (48744, 256)

In [134]:
print('Removing features with more than 80% missing...')
test = test[test.columns[data.isnull().mean() < 0.80]]
data = data[data.columns[data.isnull().mean() < 0.80]]

print(data.shape, test.shape)

Removing features with more than 80% missing...
(307511, 256) (48744, 256)

In [ ]:
from lightgbm import LGBMClassifier
import gc
# For model estimation
from sklearn.preprocessing import LabelEncoder,MinMaxScaler, Imputer
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.model_selection import KFold
from sklearn.metrics import roc_auc_score, roc_curve
from sklearn.model_selection import KFold, StratifiedKFold

gc.enable()

folds = KFold(n_splits=4, shuffle=True, random_state=546789)
oof_preds = np.zeros(data.shape[0])
sub_preds = np.zeros(test.shape[0])

feature_importance_df = pd.DataFrame()

feats = [f for f in data.columns if f not in ['SK_ID_CURR']]

for n_fold, (trn_idx, val_idx) in enumerate(folds.split(data)):
    trn_x, trn_y = data[feats].iloc[trn_idx], y.iloc[trn_idx]
    val_x, val_y = data[feats].iloc[val_idx], y.iloc[val_idx]
    
    clf = LGBMClassifier(
        n_estimators=10000,
        learning_rate=0.03,
        num_leaves=34,
        colsample_bytree=0.9,
        subsample=0.8,
        max_depth=8,
        reg_alpha=.1,
        reg_lambda=.1,
        min_split_gain=.01,
        min_child_weight=300,
        silent=-1,
        verbose=-1,
        )
    
    clf.fit(trn_x, trn_y, 
            eval_set= [(trn_x, trn_y), (val_x, val_y)], 
            eval_metric='auc', verbose=100, early_stopping_rounds=100  #30
           )
    
    oof_preds[val_idx] = clf.predict_proba(val_x, num_iteration=clf.best_iteration_)[:, 1]
    sub_preds += clf.predict_proba(test[feats], num_iteration=clf.best_iteration_)[:, 1] / folds.n_splits
    
    fold_importance_df = pd.DataFrame()
    fold_importance_df["feature"] = feats
    fold_importance_df["importance"] = clf.feature_importances_
    fold_importance_df["fold"] = n_fold + 1
    feature_importance_df = pd.concat([feature_importance_df, fold_importance_df], axis=0)
    
    print('Fold %2d AUC : %.6f' % (n_fold + 1, roc_auc_score(val_y, oof_preds[val_idx])))
    del clf, trn_x, trn_y, val_x, val_y
    gc.collect()

print('Full AUC score %.6f' % roc_auc_score(y, oof_preds)) 

test['TARGET'] = sub_preds

test[['SK_ID_CURR', 'TARGET']].to_csv('submission1LGBM1.csv', index=False)